openapi: 3.0.0
info:
  version: 1.0.0
  title: Unofficial NASA OpenAPI Specification
  description: |
    NASA provides free APIs for the public at https://api.nasa.gov/.

    Go there, sign up for an API key, and start using this OpenAPI specification.
  contact:
    name: Curtis "Ovid" Poe
    email: curtis.poe@gmail.com
    url: https://ovid.github.io
  license:
    name: MIT
    url: https://opensource.org/license/mit/

servers:
  - url: https://api.nasa.gov
    description: NASA OpenAPI server

paths:
  /planetary/earth/imagery:
    get:
      x-name: Earth Imagery Image
      description: |
        This endpoint retrieves the Landsat 8 image for the supplied location and
        date. The response will include the date and URL to the image that is
        closest to the supplied date. The requested resource may not be available
        for the exact date in the request. You can retrieve a JSON that contains
        the inputs you provided and a URL to the resulting image through the
        assets endpoint. The assets endpoint no longer returns a list of potential
        images within your date range due to a change on the Google Earth Engine
        API side.

        Note that the returned object may not match the supplied date exactly.
        Instead, the image closest to the supplied date is returned.

        The cloud score was an optional calculation that returns the percentage of
        the queried image that is covered by clouds, but it is not available in
        current versions of the API. If False If HTTP Request
      parameters:
        - $ref: '#/components/parameters/Latitude'
          required: true
          example: 1.5
        - $ref: '#/components/parameters/Longitude'
          required: true
          example: 100.75
        - $ref: '#/components/parameters/Dimensions'
        - $ref: '#/components/parameters/ImageDate'
          required: true
          example: 2018-01-01
        - name: cloud_score
          in: query
          description: NOT CURRENTLY AVAILABLE!!!! calculate the percentage of the image covered by clouds
          schema:
            type: boolean
      responses:
        '200':
          description: Image retrieved successfully
          content:
            image/png:
              schema:
                type: string
                format: binary
              example: pretend this is binary content
        '400':
          description: Bad request
        '403':
          description: API key is invalid or missing
      security:
        - api_key: []
      tags:
        - earth
        - landsat-8
        - images
  /planetary/earth/assets:
    get:
      x-name: Earth Imagery Assets
      description: |
        This endpoint retrieves the date-times and asset names for closest available
        imagery for a supplied location and date. The satellite passes over each point
        on earth roughly once every sixteen days. This is an amazing visualization of
        the acquisition pattern for Landsat 8 imagery. The objective of this endpoint
        is primarily to support the use of the imagery endpoint.
      parameters:
        - $ref: '#/components/parameters/Latitude'
          required: true
          example: 1.5
        - $ref: '#/components/parameters/Longitude'
          required: true
          example: 100.75
        - $ref: '#/components/parameters/Dimensions'
        - $ref: '#/components/parameters/ImageDate'
          required: true
          example: 2018-02-04
      responses:
        '200':
          description: Image assets retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: LANDSAT/LC08/C01/T1_SR/LC08_127059_20140204
                  date:
                    type: string
                    format: date-time
                    example: 2014-02-04T03:30:01.210000
                  resource:
                    type: object
                    properties:
                      dataset:
                        type: string
                        example: LANDSAT/LC08/C01/T1_SR
                      planet:
                        type: string
                        example: earth
                  service_version:
                    type: string
                    example: v5000
                  url:
                    type: string
                    example: https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/thumbnails/ea0061d06542c151df676804213b0e32-e13a44f7bfe19cc2a7f5c23a20921213:getPixels
              example: {"date":"2014-02-04T03:30:01.210000","id":"LANDSAT/LC08/C01/T1_SR/LC08_127059_20140204","resource":{"dataset":"LANDSAT/LC08/C01/T1_SR","planet":"earth"},"service_version":"v5000","url":"https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/thumbnails/ea0061d06542c151df676804213b0e32-e13a44f7bfe19cc2a7f5c23a20921213:getPixels"}
        '400':
          description: Bad request
        '403':
          description: API key is invalid or missing
      security:
        - api_key: []
      tags:
        - earth
        - landsat-8
        - images
  /planetary/apod:
    get:
      description: >
        One of the most popular websites at NASA is the Astronomy Picture of the Day.
        In fact, this website is one of the most popular websites across all federal
        agencies. It has the popular appeal of a Justin Bieber video. This endpoint
        structures the APOD imagery and associated metadata so that it can be
        repurposed for other applications. In addition, if the concept_tags parameter
        is set to True, then keywords derived from the image explanation are returned.
        These keywords could be used as auto-generated hashtags for twitter or
        instagram feeds; but generally help with discoverability of relevant imagery.

        The full documentation for this API can be found in the APOD API Github repository.
      parameters:
        - $ref: '#/components/parameters/ImageDate'
          example: 2018-02-04
        - name: start_date
          in: query
          description: Start date of APOD images to retrieve
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: End date of APOD images to retrieve
          schema:
            type: string
            format: date
        - name: count
          in: query
          description: If this is specified then count randomly chosen images will be returned. Cannot be used with date or start_date and end_date.
          schema:
            type: integer
        - name: thumbs
          in: query
          description: Return the URL of video thumbnail. If an APOD is not a video, this parameter is ignored.
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: '#/components/schemas/APODImage'
                    example: [{"copyright":"Petr Horalek","date":"2021-01-01","explanation":"The South Celestial Pole is easy to spot in star trail images of the southern sky.","hdurl":"https://apod.nasa.gov/apod/image/2101/2020_12_16_Kujal_Jizni_Pol_1500px-3.png","media_type":"image","service_version":"v1","title":"Galaxies and the South Celestial Pole","url":"https://apod.nasa.gov/apod/image/2101/2020_12_16_Kujal_Jizni_Pol_1500px-3.jpg"},{"copyright":"Mike Smolinsky","date":"2021-01-02","explanation":"In the mid 19th century, one of the first photographic technologies used to record the lunar surface was the wet-plate collodion process, notably employed by British astronomer Warren De la Rue.","hdurl":"https://apod.nasa.gov/apod/image/2101/WetCollodionLunar112820SMO.jpg","media_type":"image","service_version":"v1","title":"21st Century Wet Collodion Moon","url":"https://apod.nasa.gov/apod/image/2101/WetCollodionLunar112820SMO_1024.jpg"}]
                  - $ref: '#/components/schemas/APODImage'
                    example: {"copyright":"Tianyao Yang","date":"2023-06-12","explanation":"What\u2019s that near the Moon? It\u2019s the International Space Station (ISS). Although the ISS may appear to be physically near the Moon, it is not \u2014 it is physically near the Earth. In low Earth orbit and circulating around our big blue marble about every 90 minutes, the ISS was captured photographically as it crossed nearly in front of the Moon. The Moon, itself in a month-long orbit around the Earth, shows a crescent phase as only a curving sliver of its Sun-illuminated half is visible from the Earth. The featured image was taken in late March from Shanghai, China and shows not only details of Earth's largest human-made satellite, but details of the cratered and barren surface of Earth's largest natural satellite. Over the next few years, humanity is planning to send more people and machines to the Moon than ever before.","hdurl":"https://apod.nasa.gov/apod/image/2306/IssMoon_Yang_2599.jpg","media_type":"image","service_version":"v1","title":"The Largest Satellites of Earth","url":"https://apod.nasa.gov/apod/image/2306/IssMoon_Yang_960.jpg"}
          description: successful operation
        '400':
          description: Bad request
      security:
        - api_key: []
      summary: Returns Astronomy Picture of the Day images
      tags:
        - images
  /neo/rest/v1/neo/browse:
    get:
      description: Browse the overall Asteroid data-set
      parameters:
        - name: page
          in: query
          description: Page number of query
          schema:
            type: integer
            minimum: 0
        - name: size
          in: query
          description: Number of elements per page
          schema:
            type: integer
            minimum: 1
            maximum: 1000
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  links:
                    type: object
                    properties:
                      next:
                        type: string
                        example: http://api.nasa.gov/neo/rest/v1/neo/browse?page=2&size=20&api_key=DEMO_KEY
                      prev:
                        type: string
                        example: http://api.nasa.gov/neo/rest/v1/neo/browse?page=0&size=20&api_key=DEMO_KEY
                      self:
                        type: string
                        example: 1
                  page:
                    type: object
                    properties:
                      size:
                        type: integer
                        example: 20
                      total_elements:
                        type: integer
                        example: 32803
                      total_pages:
                        type: integer
                        example: 1641
                      number:
                        type: integer
                        example: 1
                  near_earth_objects:
                    type: array
                    items:
                      type: object
              example: {"links":{"next":"http://api.nasa.gov/neo/rest/v1/neo/browse?page=1&size=2&api_key=DEMO_KEY","self":"http://api.nasa.gov/neo/rest/v1/neo/browse?page=0&size=2&api_key=DEMO_KEY"},"page":{"size":2,"total_elements":32803,"total_pages":1641,"number":0},"near_earth_objects":[{"links":{"self":"http://api.nasa.gov/neo/rest/v1/neo/2000433?api_key=DEMO_KEY"},"id":"2000433","neo_reference_id":"2000433","name":"433 Eros (A898 PA)","name_limited":"Eros","designation":"433","nasa_jpl_url":"http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000433","absolute_magnitude_h":10.31,"estimated_diameter":{"kilometers":{"estimated_diameter_min":23.0438466577,"estimated_diameter_max":51.5276075896},"meters":{"estimated_diameter_min":23043.8466576534,"estimated_diameter_max":51527.6075895943},"miles":{"estimated_diameter_min":14.3187780415,"estimated_diameter_max":32.0177610556},"feet":{"estimated_diameter_min":75603.1738682955,"estimated_diameter_max":169053.8360842445}},"is_potentially_hazardous_asteroid":false,"close_approach_data":[{"close_approach_date":"1900-12-27","close_approach_date_full":"1900-Dec-27 01:30","epoch_date_close_approach":-2177879400000,"relative_velocity":{"kilometers_per_second":"5.5786191875","kilometers_per_hour":"20083.0290749201","miles_per_hour":"12478.8132604691"},"miss_distance":{"astronomical":"0.3149291693","lunar":"122.5074468577","kilometers":"47112732.928149391","miles":"29274494.7651919558"},"orbiting_body":"Earth"},{"close_approach_date":"1907-11-05","close_approach_date_full":"1907-Nov-05 03:31","epoch_date_close_approach":-1961526540000,"relative_velocity":{"kilometers_per_second":"4.3944908885","kilometers_per_hour":"15820.1671985367","miles_per_hour":"9830.0366684463"},"miss_distance":{"astronomical":"0.4714855425","lunar":"183.4078760325","kilometers":"70533232.893794475","miles":"43827318.620434755"},"orbiting_body":"Earth"},{"close_approach_date":"1917-04-20","close_approach_date_full":"1917-Apr-20 21:19","epoch_date_close_approach":-1663036860000,"relative_velocity":{"kilometers_per_second":"4.8167840184","kilometers_per_hour":"17340.4224662258","miles_per_hour":"10774.6641707501"},"miss_distance":{"astronomical":"0.499257206","lunar":"194.211053134","kilometers":"74687814.59975122","miles":"46408855.985038036"},"orbiting_body":"Earth"},{"close_approach_date":"1924-03-05","close_approach_date_full":"1924-Mar-05 22:13","epoch_date_close_approach":-1446083220000,"relative_velocity":{"kilometers_per_second":"4.5960548855","kilometers_per_hour":"16545.797587763","miles_per_hour":"10280.915173352"},"miss_distance":{"astronomical":"0.3597864889","lunar":"139.9569441821","kilometers":"53823292.394218643","miles":"33444243.0636095534"},"orbiting_body":"Earth"},{"close_approach_date":"1931-01-30","close_approach_date_full":"1931-Jan-30 04:07","epoch_date_close_approach":-1228247580000,"relative_velocity":{"kilometers_per_second":"5.9208185341","kilometers_per_hour":"21314.9467227704","miles_per_hour":"13244.2789789347"},"miss_distance":{"astronomical":"0.1740731458","lunar":"67.7144537162","kilometers":"26040971.835879446","miles":"16181109.5707945148"},"orbiting_body":"Earth"},{"close_approach_date":"1938-01-13","close_approach_date_full":"1938-Jan-13 22:04","epoch_date_close_approach":-1008726960000,"relative_velocity":{"kilometers_per_second":"6.0840524046","kilometers_per_hour":"21902.5886564605","miles_per_hour":"13609.4168237879"},"miss_distance":{"astronomical":"0.2150052405","lunar":"83.6370385545","kilometers":"32164326.017637735","miles":"19985985.424901343"},"orbiting_body":"Earth"},{"close_approach_date":"1944-11-27","close_approach_date_full":"1944-Nov-27 01:41","epoch_date_close_approach":-791936340000,"relative_velocity":{"kilometers_per_second":"3.626098636","kilometers_per_hour":"13053.9550896485","miles_per_hour":"8111.2200388986"},"miss_distance":{"astronomical":"0.4030090561","lunar":"156.7705228229","kilometers":"60289296.383270507","miles":"37462031.6350747166"},"orbiting_body":"Earth"},{"close_approach_date":"1961-04-04","close_approach_date_full":"1961-Apr-04 09:08","epoch_date_close_approach":-275928720000,"relative_velocity":{"kilometers_per_second":"3.7078364482","kilometers_per_hour":"13348.2112136055","miles_per_hour":"8294.0593510317"},"miss_distance":{"astronomical":"0.4424921301","lunar":"172.1294386089","kilometers":"66195880.154722887","miles":"41132212.6021023606"},"orbiting_body":"Earth"},{"close_approach_date":"1968-02-11","close_approach_date_full":"1968-Feb-11 13:46","epoch_date_close_approach":-59566440000,"relative_velocity":{"kilometers_per_second":"6.0668849725","kilometers_per_hour":"21840.7859008821","miles_per_hour":"13571.014994912"},"miss_distance":{"astronomical":"0.2662714057","lunar":"103.5795768173","kilometers":"39833635.134625859","miles":"24751473.1315964942"},"orbiting_body":"Earth"},{"close_approach_date":"1975-01-23","close_approach_date_full":"1975-Jan-23 07:39","epoch_date_close_approach":159694740000,"relative_velocity":{"kilometers_per_second":"5.8253076833","kilometers_per_hour":"20971.1076598791","miles_per_hour":"13030.6307567732"},"miss_distance":{"astronomical":"0.1511341909","lunar":"58.7912002601","kilometers":"22609353.042813383","miles":"14048800.5292673654"},"orbiting_body":"Earth"},{"close_approach_date":"1981-12-29","close_approach_date_full":"1981-Dec-29 08:05","epoch_date_close_approach":378461100000,"relative_velocity":{"kilometers_per_second":"5.6652718459","kilometers_per_hour":"20394.9786453535","miles_per_hour":"12672.6465921642"},"miss_distance":{"astronomical":"0.3084893271","lunar":"120.0023482419","kilometers":"46149346.251893277","miles":"28675874.0429781426"},"orbiting_body":"Earth"},{"close_approach_date":"1988-11-06","close_approach_date_full":"1988-Nov-06 14:56","epoch_date_close_approach":594831360000,"relative_velocity":{"kilometers_per_second":"4.305902138","kilometers_per_hour":"15501.2476969045","miles_per_hour":"9631.8724925571"},"miss_distance":{"astronomical":"0.4676402077","lunar":"181.9120407953","kilometers":"69957978.998277599","miles":"43469872.4247609062"},"orbiting_body":"Earth"},{"close_approach_date":"2005-03-08","close_approach_date_full":"2005-Mar-08 22:07","epoch_date_close_approach":1110319620000,"relative_velocity":{"kilometers_per_second":"4.4122923953","kilometers_per_hour":"15884.2526231559","miles_per_hour":"9869.8568590937"},"miss_distance":{"astronomical":"0.3655672222","lunar":"142.2056494358","kilometers":"54688077.782936714","miles":"33981595.7867820932"},"orbiting_body":"Earth"},{"close_approach_date":"2012-01-31","close_approach_date_full":"2012-Jan-31 11:01","epoch_date_close_approach":1328007660000,"relative_velocity":{"kilometers_per_second":"5.9451959021","kilometers_per_hour":"21402.705247412","miles_per_hour":"13298.8087133156"},"miss_distance":{"astronomical":"0.1786758136","lunar":"69.5048914904","kilometers":"26729521.135077032","miles":"16608954.2658937616"},"orbiting_body":"Earth"},{"close_approach_date":"2019-01-15","close_approach_date_full":"2019-Jan-15 06:01","epoch_date_close_approach":1547532060000,"relative_velocity":{"kilometers_per_second":"6.0449176185","kilometers_per_hour":"21761.7034264303","miles_per_hour":"13521.8762207172"},"miss_distance":{"astronomical":"0.2085986871","lunar":"81.1448892819","kilometers":"31205919.274956477","miles":"19390459.0899223026"},"orbiting_body":"Earth"},{"close_approach_date":"2025-11-30","close_approach_date_full":"2025-Nov-30 02:18","epoch_date_close_approach":1764469080000,"relative_velocity":{"kilometers_per_second":"3.7288508677","kilometers_per_hour":"13423.8631236067","miles_per_hour":"8341.0665058878"},"miss_distance":{"astronomical":"0.3976474744","lunar":"154.6848675416","kilometers":"59487215.181119528","miles":"36963641.4867163664"},"orbiting_body":"Earth"},{"close_approach_date":"2042-04-06","close_approach_date_full":"2042-Apr-06 19:02","epoch_date_close_approach":2280423720000,"relative_velocity":{"kilometers_per_second":"3.7252247205","kilometers_per_hour":"13410.8089939193","miles_per_hour":"8332.9551773606"},"miss_distance":{"astronomical":"0.4461417254","lunar":"173.5491311806","kilometers":"66741851.837964898","miles":"41471463.6747876724"},"orbiting_body":"Earth"},{"close_approach_date":"2049-02-12","close_approach_date_full":"2049-Feb-12 05:38","epoch_date_close_approach":2496721080000,"relative_velocity":{"kilometers_per_second":"6.0590645856","kilometers_per_hour":"21812.6325080767","miles_per_hour":"13553.5215714769"},"miss_distance":{"astronomical":"0.2725553389","lunar":"106.0240268321","kilometers":"40773698.156568143","miles":"25335601.2070526534"},"orbiting_body":"Earth"},{"close_approach_date":"2056-01-24","close_approach_date_full":"2056-Jan-24 11:03","epoch_date_close_approach":2715937380000,"relative_velocity":{"kilometers_per_second":"5.8207578574","kilometers_per_hour":"20954.7282866821","miles_per_hour":"13020.4532512442"},"miss_distance":{"astronomical":"0.1497821765","lunar":"58.2652666585","kilometers":"22407094.568364055","miles":"13923122.940991759"},"orbiting_body":"Earth"},{"close_approach_date":"2062-12-31","close_approach_date_full":"2062-Dec-31 08:25","epoch_date_close_approach":2934779100000,"relative_velocity":{"kilometers_per_second":"5.7322434825","kilometers_per_hour":"20636.0765370681","miles_per_hour":"12822.4554460466"},"miss_distance":{"astronomical":"0.3029535232","lunar":"117.8489205248","kilometers":"45321201.779715584","miles":"28161288.9295956992"},"orbiting_body":"Earth"},{"close_approach_date":"2069-11-08","close_approach_date_full":"2069-Nov-08 21:29","epoch_date_close_approach":3151171740000,"relative_velocity":{"kilometers_per_second":"4.2454176851","kilometers_per_hour":"15283.5036662481","miles_per_hour":"9496.5748197307"},"miss_distance":{"astronomical":"0.4647282185","lunar":"180.7792769965","kilometers":"69522351.616494595","miles":"43199186.121611611"},"orbiting_body":"Earth"},{"close_approach_date":"2086-03-11","close_approach_date_full":"2086-Mar-11 22:55","epoch_date_close_approach":3666725700000,"relative_velocity":{"kilometers_per_second":"4.2258643769","kilometers_per_hour":"15213.1117567663","miles_per_hour":"9452.8360246418"},"miss_distance":{"astronomical":"0.3713100271","lunar":"144.4396005419","kilometers":"55547189.163802277","miles":"34515422.8449623426"},"orbiting_body":"Earth"},{"close_approach_date":"2093-01-31","close_approach_date_full":"2093-Jan-31 15:47","epoch_date_close_approach":3884255220000,"relative_velocity":{"kilometers_per_second":"5.9749136221","kilometers_per_hour":"21509.6890394877","miles_per_hour":"13365.2842812306"},"miss_distance":{"astronomical":"0.1824638842","lunar":"70.9784509538","kilometers":"27296208.428246654","miles":"16961077.4217016652"},"orbiting_body":"Earth"},{"close_approach_date":"2100-01-16","close_approach_date_full":"2100-Jan-16 11:39","epoch_date_close_approach":4103782740000,"relative_velocity":{"kilometers_per_second":"6.0149196633","kilometers_per_hour":"21653.7107877231","miles_per_hour":"13454.7737947383"},"miss_distance":{"astronomical":"0.2038791175","lunar":"79.3089767075","kilometers":"30499881.715479725","miles":"18951747.693781205"},"orbiting_body":"Earth"},{"close_approach_date":"2106-12-04","close_approach_date_full":"2106-Dec-04 02:22","epoch_date_close_approach":4320872520000,"relative_velocity":{"kilometers_per_second":"3.8530305141","kilometers_per_hour":"13870.9098509079","miles_per_hour":"8618.8439570822"},"miss_distance":{"astronomical":"0.3922912542","lunar":"152.6012978838","kilometers":"58685936.047948554","miles":"36465749.7209118852"},"orbiting_body":"Earth"},{"close_approach_date":"2123-04-10","close_approach_date_full":"2123-Apr-10 05:51","epoch_date_close_approach":4836779460000,"relative_velocity":{"kilometers_per_second":"3.7537243254","kilometers_per_hour":"13513.4075714592","miles_per_hour":"8396.7059434992"},"miss_distance":{"astronomical":"0.4497028378","lunar":"174.9344039042","kilometers":"67274586.667835486","miles":"41802489.7481862668"},"orbiting_body":"Earth"},{"close_approach_date":"2130-02-14","close_approach_date_full":"2130-Feb-14 22:11","epoch_date_close_approach":5053011060000,"relative_velocity":{"kilometers_per_second":"6.0381849282","kilometers_per_hour":"21737.4657416866","miles_per_hour":"13506.8158659941"},"miss_distance":{"astronomical":"0.2781645724","lunar":"108.2060186636","kilometers":"41612827.540500788","miles":"25857012.0280873544"},"orbiting_body":"Earth"},{"close_approach_date":"2137-01-25","close_approach_date_full":"2137-Jan-25 14:12","epoch_date_close_approach":5272179120000,"relative_velocity":{"kilometers_per_second":"5.8142759703","kilometers_per_hour":"20931.393493074","miles_per_hour":"13005.9539179604"},"miss_distance":{"astronomical":"0.1494623094","lunar":"58.1408383566","kilometers":"22359243.131520978","miles":"13893389.4368983764"},"orbiting_body":"Earth"},{"close_approach_date":"2144-01-03","close_approach_date_full":"2144-Jan-03 10:26","epoch_date_close_approach":5491103160000,"relative_velocity":{"kilometers_per_second":"5.7943538473","kilometers_per_hour":"20859.6738502169","miles_per_hour":"12961.3901209861"},"miss_distance":{"astronomical":"0.296580393","lunar":"115.369772877","kilometers":"44367795.07656291","miles":"27568869.475111758"},"orbiting_body":"Earth"},{"close_approach_date":"2150-11-12","close_approach_date_full":"2150-Nov-12 07:12","epoch_date_close_approach":5707523520000,"relative_velocity":{"kilometers_per_second":"4.1745035914","kilometers_per_hour":"15028.2129289863","miles_per_hour":"9337.9470835693"},"miss_distance":{"astronomical":"0.4609447583","lunar":"179.3075109787","kilometers":"68956354.029344821","miles":"42847491.5292516898"},"orbiting_body":"Earth"},{"close_approach_date":"2167-03-16","close_approach_date_full":"2167-Mar-16 05:30","epoch_date_close_approach":6223152600000,"relative_velocity":{"kilometers_per_second":"4.026253601","kilometers_per_hour":"14494.512963503","miles_per_hour":"9006.3266800166"},"miss_distance":{"astronomical":"0.3774337428","lunar":"146.8217259492","kilometers":"56463283.989007836","miles":"35084657.7735706968"},"orbiting_body":"Earth"},{"close_approach_date":"2174-02-03","close_approach_date_full":"2174-Feb-03 01:30","epoch_date_close_approach":6440520600000,"relative_velocity":{"kilometers_per_second":"6.0055431713","kilometers_per_hour":"21619.9554168322","miles_per_hour":"13433.7995199755"},"miss_distance":{"astronomical":"0.1884002692","lunar":"73.2877047188","kilometers":"28184278.979746604","miles":"17512898.8741029752"},"orbiting_body":"Earth"},{"close_approach_date":"2181-01-17","close_approach_date_full":"2181-Jan-17 20:55","epoch_date_close_approach":6660046500000,"relative_velocity":{"kilometers_per_second":"5.9898389294","kilometers_per_hour":"21563.4201458554","miles_per_hour":"13398.6707011844"},"miss_distance":{"astronomical":"0.1980108125","lunar":"77.0262060625","kilometers":"29621995.786969375","miles":"18406254.672652375"},"orbiting_body":"Earth"},{"close_approach_date":"2187-12-06","close_approach_date_full":"2187-Dec-06 23:28","epoch_date_close_approach":6877265280000,"relative_velocity":{"kilometers_per_second":"3.9833820614","kilometers_per_hour":"14340.1754211404","miles_per_hour":"8910.4273332081"},"miss_distance":{"astronomical":"0.3873137309","lunar":"150.6650413201","kilometers":"57941309.164393183","miles":"36003060.0306766054"},"orbiting_body":"Earth"}],"orbital_data":{"orbit_id":"659","orbit_determination_date":"2021-05-24 17:55:05","first_observation_date":"1893-10-29","last_observation_date":"2021-05-13","data_arc_in_days":46582,"observations_used":9130,"orbit_uncertainty":"0","minimum_orbit_intersection":".148662","jupiter_tisserand_invariant":"4.582","epoch_osculation":"2460000.5","eccentricity":".2227818894620597","semi_major_axis":"1.458129136101339","inclination":"10.82782330218545","ascending_node_longitude":"304.2870401191066","orbital_period":"643.1205824040848","perihelion_distance":"1.133284372081002","perihelion_argument":"178.9269951795186","aphelion_distance":"1.782973900121676","perihelion_time":"2459802.601698595905","mean_anomaly":"110.7776526746434","mean_motion":".5597706088868498","equinox":"J2000","orbit_class":{"orbit_class_type":"AMO","orbit_class_description":"Near-Earth asteroid orbits similar to that of 1221 Amor","orbit_class_range":"1.017 AU < q (perihelion) < 1.3 AU"}},"is_sentry_object":false},{"links":{"self":"http://api.nasa.gov/neo/rest/v1/neo/2000719?api_key=DEMO_KEY"},"id":"2000719","neo_reference_id":"2000719","name":"719 Albert (A911 TB)","name_limited":"Albert","designation":"719","nasa_jpl_url":"http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000719","absolute_magnitude_h":15.59,"estimated_diameter":{"kilometers":{"estimated_diameter_min":2.0256060086,"estimated_diameter_max":4.529392731},"meters":{"estimated_diameter_min":2025.6060086475,"estimated_diameter_max":4529.3927309679},"miles":{"estimated_diameter_min":1.2586528312,"estimated_diameter_max":2.8144332906},"feet":{"estimated_diameter_min":6645.6892174112,"estimated_diameter_max":14860.2128474689}},"is_potentially_hazardous_asteroid":false,"close_approach_data":[{"close_approach_date":"1909-08-21","close_approach_date_full":"1909-Aug-21 15:04","epoch_date_close_approach":-1904892960000,"relative_velocity":{"kilometers_per_second":"3.4460290151","kilometers_per_hour":"12405.7044543097","miles_per_hour":"7708.4223038459"},"miss_distance":{"astronomical":"1.7087741683","lunar":"664.7131514687","kilometers":"255628975.888701521","miles":"158840480.0863061498"},"orbiting_body":"Juptr"},{"close_approach_date":"1911-09-08","close_approach_date_full":"1911-Sep-08 08:15","epoch_date_close_approach":-1840290300000,"relative_velocity":{"kilometers_per_second":"7.1848430308","kilometers_per_hour":"25865.4349107149","miles_per_hour":"16071.7753754939"},"miss_distance":{"astronomical":"0.2054817435","lunar":"79.9323982215","kilometers":"30739631.151486345","miles":"19100721.085327761"},"orbiting_body":"Earth"},{"close_approach_date":"1941-09-08","close_approach_date_full":"1941-Sep-08 16:50","epoch_date_close_approach":-893488200000,"relative_velocity":{"kilometers_per_second":"7.3096055098","kilometers_per_hour":"26314.5798352299","miles_per_hour":"16350.8565648405"},"miss_distance":{"astronomical":"0.2056683545","lunar":"80.0049899005","kilometers":"30767547.759604915","miles":"19118067.661241227"},"orbiting_body":"Earth"},{"close_approach_date":"1956-09-12","close_approach_date_full":"1956-Sep-12 20:20","epoch_date_close_approach":-419744400000,"relative_velocity":{"kilometers_per_second":"3.2634606265","kilometers_per_hour":"11748.4582554323","miles_per_hour":"7300.0350754379"},"miss_distance":{"astronomical":"1.4171297569","lunar":"551.2634754341","kilometers":"211999593.145857803","miles":"131730438.7592235614"},"orbiting_body":"Juptr"},{"close_approach_date":"1971-09-06","close_approach_date_full":"1971-Sep-06 04:03","epoch_date_close_approach":52977780000,"relative_velocity":{"kilometers_per_second":"7.6655658653","kilometers_per_hour":"27596.0371152368","miles_per_hour":"17147.104284187"},"miss_distance":{"astronomical":"0.3147502333","lunar":"122.4378407537","kilometers":"47085964.483683071","miles":"29257861.6250895398"},"orbiting_body":"Earth"},{"close_approach_date":"2001-09-05","close_approach_date_full":"2001-Sep-05 00:40","epoch_date_close_approach":999650400000,"relative_velocity":{"kilometers_per_second":"7.6532216086","kilometers_per_hour":"27551.5977911354","miles_per_hour":"17119.4914163863"},"miss_distance":{"astronomical":"0.2846489809","lunar":"110.7284535701","kilometers":"42582881.240310683","miles":"26459775.4466381054"},"orbiting_body":"Earth"},{"close_approach_date":"2003-10-26","close_approach_date_full":"2003-Oct-26 03:46","epoch_date_close_approach":1067139960000,"relative_velocity":{"kilometers_per_second":"3.7241284848","kilometers_per_hour":"13406.8625452769","miles_per_hour":"8330.5030076472"},"miss_distance":{"astronomical":"1.4865987524","lunar":"578.2869146836","kilometers":"222392006.903697388","miles":"138187985.2279364344"},"orbiting_body":"Juptr"},{"close_approach_date":"2048-09-19","close_approach_date_full":"2048-Sep-19 10:28","epoch_date_close_approach":2484124080000,"relative_velocity":{"kilometers_per_second":"13.0394477911","kilometers_per_hour":"46942.0120478077","miles_per_hour":"29167.940763817"},"miss_distance":{"astronomical":"0.4256632516","lunar":"165.5830048724","kilometers":"63678315.776634092","miles":"39567870.6370587896"},"orbiting_body":"Earth"},{"close_approach_date":"2050-11-15","close_approach_date_full":"2050-Nov-15 11:59","epoch_date_close_approach":2552126340000,"relative_velocity":{"kilometers_per_second":"5.0048427673","kilometers_per_hour":"18017.4339623463","miles_per_hour":"11195.3327862146"},"miss_distance":{"astronomical":"1.9591584297","lunar":"762.1126291533","kilometers":"293085928.075664739","miles":"182115150.9144578382"},"orbiting_body":"Juptr"},{"close_approach_date":"2063-10-10","close_approach_date_full":"2063-Oct-10 19:16","epoch_date_close_approach":2959269360000,"relative_velocity":{"kilometers_per_second":"3.4163448465","kilometers_per_hour":"12298.8414475462","miles_per_hour":"7642.0217872267"},"miss_distance":{"astronomical":"1.563825951","lunar":"608.328294939","kilometers":"233945031.32032437","miles":"145366701.718921506"},"orbiting_body":"Juptr"},{"close_approach_date":"2078-09-10","close_approach_date_full":"2078-Sep-10 05:26","epoch_date_close_approach":3430013160000,"relative_velocity":{"kilometers_per_second":"7.5222545496","kilometers_per_hour":"27080.1163785251","miles_per_hour":"16826.5312019786"},"miss_distance":{"astronomical":"0.2134595996","lunar":"83.0357842444","kilometers":"31933101.431212852","miles":"19842309.1292552776"},"orbiting_body":"Earth"},{"close_approach_date":"2108-09-07","close_approach_date_full":"2108-Sep-07 18:36","epoch_date_close_approach":4376486160000,"relative_velocity":{"kilometers_per_second":"7.8186889132","kilometers_per_hour":"28147.2800874542","miles_per_hour":"17489.6252298962"},"miss_distance":{"astronomical":"0.2568612457","lunar":"99.9190245773","kilometers":"38425895.242266659","miles":"23876744.1242075342"},"orbiting_body":"Earth"},{"close_approach_date":"2110-11-08","close_approach_date_full":"2110-Nov-08 03:30","epoch_date_close_approach":4444860600000,"relative_velocity":{"kilometers_per_second":"3.4670013619","kilometers_per_hour":"12481.2049027845","miles_per_hour":"7755.3353463996"},"miss_distance":{"astronomical":"1.3899546635","lunar":"540.6923641015","kilometers":"207934257.056166745","miles":"129204356.049101281"},"orbiting_body":"Juptr"},{"close_approach_date":"2138-09-08","close_approach_date_full":"2138-Sep-08 23:41","epoch_date_close_approach":5323275660000,"relative_velocity":{"kilometers_per_second":"8.6062205832","kilometers_per_hour":"30982.3940994637","miles_per_hour":"19251.2548225251"},"miss_distance":{"astronomical":"0.367762384","lunar":"143.059567376","kilometers":"55016469.31252208","miles":"34185648.821201504"},"orbiting_body":"Earth"},{"close_approach_date":"2157-12-03","close_approach_date_full":"2157-Dec-03 17:48","epoch_date_close_approach":5930300880000,"relative_velocity":{"kilometers_per_second":"4.2458309082","kilometers_per_hour":"15284.991269407","miles_per_hour":"9497.4991584824"},"miss_distance":{"astronomical":"1.6444271204","lunar":"639.6821498356","kilometers":"246002794.582073548","miles":"152859048.3850410424"},"orbiting_body":"Juptr"},{"close_approach_date":"2170-11-10","close_approach_date_full":"2170-Nov-10 05:57","epoch_date_close_approach":6338498220000,"relative_velocity":{"kilometers_per_second":"3.752796571","kilometers_per_hour":"13510.0676557181","miles_per_hour":"8394.6306497433"},"miss_distance":{"astronomical":"1.8228425235","lunar":"709.0857416415","kilometers":"272693358.861024945","miles":"169443795.983016441"},"orbiting_body":"Juptr"},{"close_approach_date":"2185-09-13","close_approach_date_full":"2185-Sep-13 19:01","epoch_date_close_approach":6806919660000,"relative_velocity":{"kilometers_per_second":"8.3173750452","kilometers_per_hour":"29942.5501628245","miles_per_hour":"18605.1362386728"},"miss_distance":{"astronomical":"0.2200717468","lunar":"85.6079095052","kilometers":"32922264.568459316","miles":"20456946.6016219208"},"orbiting_body":"Earth"}],"orbital_data":{"orbit_id":"257","orbit_determination_date":"2023-03-01 06:08:09","first_observation_date":"1911-10-04","last_observation_date":"2022-08-05","data_arc_in_days":40483,"observations_used":2035,"orbit_uncertainty":"0","minimum_orbit_intersection":".200008","jupiter_tisserand_invariant":"3.141","epoch_osculation":"2460000.5","eccentricity":".5470449589266008","semi_major_axis":"2.637175327507462","inclination":"11.57600929611851","ascending_node_longitude":"183.8569896093903","orbital_period":"1564.252770506612","perihelion_distance":"1.194521858788897","perihelion_argument":"156.2503681890173","aphelion_distance":"4.079828796226027","perihelion_time":"2459956.023234763085","mean_anomaly":"10.23596428095426","mean_motion":".2301418330768929","equinox":"J2000","orbit_class":{"orbit_class_type":"AMO","orbit_class_description":"Near-Earth asteroid orbits similar to that of 1221 Amor","orbit_class_range":"1.017 AU < q (perihelion) < 1.3 AU"}},"is_sentry_object":false}]}
          description: successful operation
        '400':
          description: Bad request
      tags:
        - asteroids
  /neo/rest/v1/neo/{asteroidId}/:
    get:
      description: Lookup a specific Asteroid based on its NASA JPL small body (SPK-ID) ID
      parameters:
        - name: asteroidId
          in: path
          description: Asteroid SPK-ID correlates to the NASA JPL small body
          required: true
          example: 3542519
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  links:
                    type: object
                    properties:
                      next:
                        type: string
                        example: http://api.nasa.gov/neo/rest/v1/neo/browse?page=2&size=20&api_key=DEMO_KEY
                      prev:
                        type: string
                        example: http://api.nasa.gov/neo/rest/v1/neo/browse?page=0&size=20&api_key=DEMO_KEY
                      self:
                        type: string
                        example: 1
                  page:
                    type: object
                    properties:
                      size:
                        type: integer
                        example: 20
                      total_elements:
                        type: integer
                        example: 32803
                      total_pages:
                        type: integer
                        example: 1641
                      number:
                        type: integer
                        example: 1
                  near_earth_objects:
                    type: array
                    items:
                      $ref: '#/components/schemas/ClosestApproachData'
              example: {"links":{"self":"http://api.nasa.gov/neo/rest/v1/neo/3542519?api_key=DEMO_KEY"},"id":"3542519","neo_reference_id":"3542519","name":"(2010 PK9)","designation":"2010 PK9","nasa_jpl_url":"http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3542519","absolute_magnitude_h":21.87,"estimated_diameter":{"kilometers":{"estimated_diameter_min":0.1123453177,"estimated_diameter_max":0.2512117673},"meters":{"estimated_diameter_min":112.3453176718,"estimated_diameter_max":251.2117672679},"miles":{"estimated_diameter_min":0.0698081224,"estimated_diameter_max":0.156095707},"feet":{"estimated_diameter_min":368.5870120303,"estimated_diameter_max":824.1856145234}},"is_potentially_hazardous_asteroid":true,"close_approach_data":[{"close_approach_date":"1900-06-01","close_approach_date_full":"1900-Jun-01 16:40","epoch_date_close_approach":-2195882400000,"relative_velocity":{"kilometers_per_second":"30.9365597428","kilometers_per_hour":"111371.6150741711","miles_per_hour":"69201.9904887259"},"miss_distance":{"astronomical":"0.0445442688","lunar":"17.3277205632","kilometers":"6663727.733187456","miles":"4140648.4089846528"},"orbiting_body":"Merc"},{"close_approach_date":"1900-07-07","close_approach_date_full":"1900-Jul-07 22:08","epoch_date_close_approach":-2192752320000,"relative_velocity":{"kilometers_per_second":"31.7781465001","kilometers_per_hour":"114401.3274004396","miles_per_hour":"71084.5359061231"},"miss_distance":{"astronomical":"0.1416631157","lunar":"55.1069520073","kilometers":"21192500.366283559","miles":"13168409.1003647542"},"orbiting_body":"Venus"},{"close_approach_date":"1900-07-27","close_approach_date_full":"1900-Jul-27 20:47","epoch_date_close_approach":-2191029180000,"relative_velocity":{"kilometers_per_second":"23.8645245914","kilometers_per_hour":"85912.2885290242","miles_per_hour":"53382.5550584928"},"miss_distance":{"astronomical":"0.2177280037","lunar":"84.6961934393","kilometers":"32571645.592872119","miles":"20239082.0727044822"},"orbiting_body":"Earth"},{"close_approach_date":"1902-02-11","close_approach_date_full":"1902-Feb-11 06:38","epoch_date_close_approach":-2142350520000,"relative_velocity":{"kilometers_per_second":"28.165417574","kilometers_per_hour":"101395.5032664968","miles_per_hour":"63003.2225713408"},"miss_distance":{"astronomical":"0.0869542779","lunar":"33.8252141031","kilometers":"13008174.761228073","miles":"8082904.9873424874"},"orbiting_body":"Merc"},{"close_approach_date":"1903-09-02","close_approach_date_full":"1903-Sep-02 16:25","epoch_date_close_approach":-2093240100000,"relative_velocity":{"kilometers_per_second":"20.7059292084","kilometers_per_hour":"74541.3451500834","miles_per_hour":"46317.0930461727"},"miss_distance":{"astronomical":"0.1920513206","lunar":"74.7079637134","kilometers":"28730468.492447122","miles":"17852285.2997374036"},"orbiting_body":"Earth"},{"close_approach_date":"1904-07-26","close_approach_date_full":"1904-Jul-26 08:05","epoch_date_close_approach":-2064930900000,"relative_velocity":{"kilometers_per_second":"15.8484517107","kilometers_per_hour":"57054.4261586543","miles_per_hour":"35451.4016317483"},"miss_distance":{"astronomical":"0.0426656551","lunar":"16.5969398339","kilometers":"6382691.125114637","miles":"3966020.3583385106"},"orbiting_body":"Earth"},{"close_approach_date":"1907-04-13","close_approach_date_full":"1907-Apr-13 18:18","epoch_date_close_approach":-1979271720000,"relative_velocity":{"kilometers_per_second":"30.3953254477","kilometers_per_hour":"109423.1716115918","miles_per_hour":"67991.3034938805"},"miss_distance":{"astronomical":"0.1169638142","lunar":"45.4989237238","kilometers":"17497537.471395754","miles":"10872465.6217952452"},"orbiting_body":"Venus"},{"close_approach_date":"1907-08-23","close_approach_date_full":"1907-Aug-23 15:07","epoch_date_close_approach":-1967878380000,"relative_velocity":{"kilometers_per_second":"30.7221181691","kilometers_per_hour":"110599.6254088219","miles_per_hour":"68722.3061324983"},"miss_distance":{"astronomical":"0.444181105","lunar":"172.786449845","kilometers":"66448547.20224635","miles":"41289212.62524563"},"orbiting_body":"Earth"},{"close_approach_date":"1908-08-17","close_approach_date_full":"1908-Aug-17 14:30","epoch_date_close_approach":-1936776600000,"relative_velocity":{"kilometers_per_second":"14.3282633236","kilometers_per_hour":"51581.7479650468","miles_per_hour":"32050.8922286147"},"miss_distance":{"astronomical":"0.1463952026","lunar":"56.9477338114","kilometers":"21900410.487178462","miles":"13608284.0522162956"},"orbiting_body":"Earth"},{"close_approach_date":"1909-07-31","close_approach_date_full":"1909-Jul-31 06:55","epoch_date_close_approach":-1906736700000,"relative_velocity":{"kilometers_per_second":"26.8654235868","kilometers_per_hour":"96715.5249125574","miles_per_hour":"60095.266021361"},"miss_distance":{"astronomical":"0.3030546234","lunar":"117.8882485026","kilometers":"45336326.154292158","miles":"28170686.7801734604"},"orbiting_body":"Earth"},{"close_approach_date":"1912-09-02","close_approach_date_full":"1912-Sep-02 17:01","epoch_date_close_approach":-1809154740000,"relative_velocity":{"kilometers_per_second":"18.165630384","kilometers_per_hour":"65396.26938254","miles_per_hour":"40634.6986060566"},"miss_distance":{"astronomical":"0.1426727545","lunar":"55.4997015005","kilometers":"21343540.180232915","miles":"13262260.888787627"},"orbiting_body":"Earth"},{"close_approach_date":"1913-07-24","close_approach_date_full":"1913-Jul-24 19:43","epoch_date_close_approach":-1781065020000,"relative_velocity":{"kilometers_per_second":"17.6676656178","kilometers_per_hour":"63603.5962241934","miles_per_hour":"39520.8012205273"},"miss_distance":{"astronomical":"0.0341641274","lunar":"13.2898455586","kilometers":"5110880.689448638","miles":"3175753.9987536844"},"orbiting_body":"Earth"},{"close_approach_date":"1914-01-17","close_approach_date_full":"1914-Jan-17 12:19","epoch_date_close_approach":-1765798860000,"relative_velocity":{"kilometers_per_second":"28.8046425986","kilometers_per_hour":"103696.7133548884","miles_per_hour":"64433.1050287638"},"miss_distance":{"astronomical":"0.0904483787","lunar":"35.1844193143","kilometers":"13530884.798473369","miles":"8407701.9434517322"},"orbiting_body":"Venus"},{"close_approach_date":"1915-09-12","close_approach_date_full":"1915-Sep-12 10:16","epoch_date_close_approach":-1713707040000,"relative_velocity":{"kilometers_per_second":"25.4075629904","kilometers_per_hour":"91467.2267655487","miles_per_hour":"56834.1776532933"},"miss_distance":{"astronomical":"0.0884675943","lunar":"34.4138941827","kilometers":"13234563.671304141","miles":"8223576.5330375058"},"orbiting_body":"Merc"},{"close_approach_date":"1916-08-26","close_approach_date_full":"1916-Aug-26 18:08","epoch_date_close_approach":-1683525120000,"relative_velocity":{"kilometers_per_second":"27.5362401173","kilometers_per_hour":"99130.4644222811","miles_per_hour":"61595.815518389"},"miss_distance":{"astronomical":"0.3610820857","lunar":"140.4609313373","kilometers":"54017110.915877459","miles":"33564676.3084045742"},"orbiting_body":"Earth"},{"close_approach_date":"1917-05-22","close_approach_date_full":"1917-May-22 04:10","epoch_date_close_approach":-1660333800000,"relative_velocity":{"kilometers_per_second":"29.9180806622","kilometers_per_hour":"107705.0903840942","miles_per_hour":"66923.7546333834"},"miss_distance":{"astronomical":"0.0650604839","lunar":"25.3085282371","kilometers":"9732909.812609293","miles":"6047749.7196745234"},"orbiting_body":"Merc"},{"close_approach_date":"1917-08-09","close_approach_date_full":"1917-Aug-09 13:03","epoch_date_close_approach":-1653476220000,"relative_velocity":{"kilometers_per_second":"14.3091249281","kilometers_per_hour":"51512.8497411056","miles_per_hour":"32008.0815516331"},"miss_distance":{"astronomical":"0.1373528976","lunar":"53.4302771664","kilometers":"20547700.919288112","miles":"12767749.3028434656"},"orbiting_body":"Earth"},{"close_approach_date":"1918-08-04","close_approach_date_full":"1918-Aug-04 09:54","epoch_date_close_approach":-1622383560000,"relative_velocity":{"kilometers_per_second":"30.2104008787","kilometers_per_hour":"108757.4431633027","miles_per_hour":"67577.6457255533"},"miss_distance":{"astronomical":"0.3954025933","lunar":"153.8116087937","kilometers":"59151385.750156271","miles":"36754966.7546916998"},"orbiting_body":"Earth"},{"close_approach_date":"1919-01-29","close_approach_date_full":"1919-Jan-29 16:05","epoch_date_close_approach":-1606982100000,"relative_velocity":{"kilometers_per_second":"34.3380503627","kilometers_per_hour":"123616.9813057776","miles_per_hour":"76810.7848563594"},"miss_distance":{"astronomical":"0.0671039137","lunar":"26.1034224293","kilometers":"10038602.558183819","miles":"6237698.3837379422"},"orbiting_body":"Merc"},{"close_approach_date":"1920-10-08","close_approach_date_full":"1920-Oct-08 02:08","epoch_date_close_approach":-1553637120000,"relative_velocity":{"kilometers_per_second":"38.8094677371","kilometers_per_hour":"139714.0838534477","miles_per_hour":"86812.8983810492"},"miss_distance":{"astronomical":"0.0926211966","lunar":"36.0296454774","kilometers":"13855933.728211242","miles":"8609677.9826374596"},"orbiting_body":"Merc"},{"close_approach_date":"1920-10-23","close_approach_date_full":"1920-Oct-23 19:32","epoch_date_close_approach":-1552278480000,"relative_velocity":{"kilometers_per_second":"28.0905592487","kilometers_per_hour":"101126.0132953747","miles_per_hour":"62835.771983451"},"miss_distance":{"astronomical":"0.0795468188","lunar":"30.9437125132","kilometers":"11900034.657755956","miles":"7394338.6562899528"},"orbiting_body":"Venus"},{"close_approach_date":"1921-08-31","close_approach_date_full":"1921-Aug-31 19:42","epoch_date_close_approach":-1525321080000,"relative_velocity":{"kilometers_per_second":"15.8302908195","kilometers_per_hour":"56989.0469502745","miles_per_hour":"35410.7775341859"},"miss_distance":{"astronomical":"0.124625443","lunar":"48.479297327","kilometers":"18643700.82060641","miles":"11584658.502172058"},"orbiting_body":"Earth"},{"close_approach_date":"1922-07-25","close_approach_date_full":"1922-Jul-25 22:12","epoch_date_close_approach":-1496972880000,"relative_velocity":{"kilometers_per_second":"20.6686676263","kilometers_per_hour":"74407.2034548017","miles_per_hour":"46233.7426133461"},"miss_distance":{"astronomical":"0.1240044527","lunar":"48.2377321003","kilometers":"18550801.994435749","miles":"11526933.8483173762"},"orbiting_body":"Earth"},{"close_approach_date":"1925-03-20","close_approach_date_full":"1925-Mar-20 17:08","epoch_date_close_approach":-1413269520000,"relative_velocity":{"kilometers_per_second":"41.3053444827","kilometers_per_hour":"148699.2401375454","miles_per_hour":"92395.9250732431"},"miss_distance":{"astronomical":"0.0641673858","lunar":"24.9611130762","kilometers":"9599304.239148246","miles":"5964731.0659519548"},"orbiting_body":"Merc"},{"close_approach_date":"1925-08-30","close_approach_date_full":"1925-Aug-30 22:22","epoch_date_close_approach":-1399167480000,"relative_velocity":{"kilometers_per_second":"23.7993252012","kilometers_per_hour":"85677.5707243837","miles_per_hour":"53236.7105426039"},"miss_distance":{"astronomical":"0.2660682312","lunar":"103.5005419368","kilometers":"39803240.662187544","miles":"24732586.8821903472"},"orbiting_body":"Earth"},{"close_approach_date":"1926-08-01","close_approach_date_full":"1926-Aug-01 00:39","epoch_date_close_approach":-1370215260000,"relative_velocity":{"kilometers_per_second":"14.7278172645","kilometers_per_hour":"53020.1421520992","miles_per_hour":"32944.6544388974"},"miss_distance":{"astronomical":"0.0980278237","lunar":"38.1328234193","kilometers":"14664753.626255519","miles":"9112255.3624594022"},"orbiting_body":"Earth"},{"close_approach_date":"1926-11-28","close_approach_date_full":"1926-Nov-28 19:40","epoch_date_close_approach":-1359865200000,"relative_velocity":{"kilometers_per_second":"32.2194998271","kilometers_per_hour":"115990.199377501","miles_per_hour":"72071.7991632033"},"miss_distance":{"astronomical":"0.0394076589","lunar":"15.3295793121","kilometers":"5895301.833126543","miles":"3663170.6956225734"},"orbiting_body":"Merc"},{"close_approach_date":"1927-07-31","close_approach_date_full":"1927-Jul-31 06:22","epoch_date_close_approach":-1338745080000,"relative_velocity":{"kilometers_per_second":"27.6258398054","kilometers_per_hour":"99453.0232993144","miles_per_hour":"61796.2410606212"},"miss_distance":{"astronomical":"0.0730742942","lunar":"28.4259004438","kilometers":"10931758.764073354","miles":"6792679.9152421252"},"orbiting_body":"Venus"},{"close_approach_date":"1927-08-09","close_approach_date_full":"1927-Aug-09 10:59","epoch_date_close_approach":-1337950860000,"relative_velocity":{"kilometers_per_second":"34.0521256133","kilometers_per_hour":"122587.6522080424","miles_per_hour":"76171.1997844917"},"miss_distance":{"astronomical":"0.4986362008","lunar":"193.9694821112","kilometers":"74594913.544572296","miles":"46351129.9461418448"},"orbiting_body":"Earth"},{"close_approach_date":"1928-08-09","close_approach_date_full":"1928-Aug-09 11:29","epoch_date_close_approach":-1306326660000,"relative_velocity":{"kilometers_per_second":"28.0105463557","kilometers_per_hour":"100837.9668806831","miles_per_hour":"62656.7911431667"},"miss_distance":{"astronomical":"0.0829178955","lunar":"32.2550613495","kilometers":"12404340.551682585","miles":"7707699.808026273"},"orbiting_body":"Merc"},{"close_approach_date":"1930-08-25","close_approach_date_full":"1930-Aug-25 02:45","epoch_date_close_approach":-1241903700000,"relative_velocity":{"kilometers_per_second":"14.607629927","kilometers_per_hour":"52587.4677371968","miles_per_hour":"32675.8073837043"},"miss_distance":{"astronomical":"0.1398406063","lunar":"54.3979958507","kilometers":"20919856.841988581","miles":"12998996.2701451778"},"orbiting_body":"Earth"},{"close_approach_date":"1931-07-29","close_approach_date_full":"1931-Jul-29 03:54","epoch_date_close_approach":-1212696360000,"relative_velocity":{"kilometers_per_second":"24.2414478666","kilometers_per_hour":"87269.2123198349","miles_per_hour":"54225.6947328441"},"miss_distance":{"astronomical":"0.2285998411","lunar":"88.9253381879","kilometers":"34198049.310898457","miles":"21249682.4809224266"},"orbiting_body":"Earth"},{"close_approach_date":"1934-05-06","close_approach_date_full":"1934-May-06 18:45","epoch_date_close_approach":-1125206100000,"relative_velocity":{"kilometers_per_second":"27.2780651656","kilometers_per_hour":"98201.0345961809","miles_per_hour":"61018.3039689436"},"miss_distance":{"astronomical":"0.0687113318","lunar":"26.7287080702","kilometers":"10279068.882143266","miles":"6387117.2288024308"},"orbiting_body":"Venus"},{"close_approach_date":"1934-09-02","close_approach_date_full":"1934-Sep-02 23:18","epoch_date_close_approach":-1114908120000,"relative_velocity":{"kilometers_per_second":"20.1594551322","kilometers_per_hour":"72574.0384759571","miles_per_hour":"45094.6851852412"},"miss_distance":{"astronomical":"0.1802150587","lunar":"70.1036578343","kilometers":"26959788.923444969","miles":"16752036.0347958122"},"orbiting_body":"Earth"},{"close_approach_date":"1935-07-26","close_approach_date_full":"1935-Jul-26 13:52","epoch_date_close_approach":-1086689280000,"relative_velocity":{"kilometers_per_second":"16.2259241776","kilometers_per_hour":"58413.3270394543","miles_per_hour":"36295.769792932"},"miss_distance":{"astronomical":"0.0297594217","lunar":"11.5764150413","kilometers":"4451946.098751779","miles":"2766311.0302173902"},"orbiting_body":"Earth"},{"close_approach_date":"1938-08-24","close_approach_date_full":"1938-Aug-24 16:06","epoch_date_close_approach":-989481240000,"relative_velocity":{"kilometers_per_second":"29.8617583709","kilometers_per_hour":"107502.3301353008","miles_per_hour":"66797.767299904"},"miss_distance":{"astronomical":"0.4214233","lunar":"163.9336637","kilometers":"63044028.048371","miles":"39173742.5186798"},"orbiting_body":"Earth"},{"close_approach_date":"1939-08-16","close_approach_date_full":"1939-Aug-16 02:36","epoch_date_close_approach":-958685040000,"relative_velocity":{"kilometers_per_second":"14.310985093","kilometers_per_hour":"51519.5463347888","miles_per_hour":"32012.2425545248"},"miss_distance":{"astronomical":"0.1464445443","lunar":"56.9669277327","kilometers":"21907791.900400641","miles":"13612870.6497092058"},"orbiting_body":"Earth"},{"close_approach_date":"1940-07-02","close_approach_date_full":"1940-Jul-02 20:48","epoch_date_close_approach":-930885120000,"relative_velocity":{"kilometers_per_second":"24.6226064539","kilometers_per_hour":"88641.3832339439","miles_per_hour":"55078.3083766692"},"miss_distance":{"astronomical":"0.0938520165","lunar":"36.5084344185","kilometers":"14040061.763604855","miles":"8724089.838482799"},"orbiting_body":"Merc"},{"close_approach_date":"1940-08-01","close_approach_date_full":"1940-Aug-01 07:16","epoch_date_close_approach":-928341840000,"relative_velocity":{"kilometers_per_second":"27.8639988114","kilometers_per_hour":"100310.3957209219","miles_per_hour":"62328.9789411473"},"miss_distance":{"astronomical":"0.3306427076","lunar":"128.6200132564","kilometers":"49463444.787992812","miles":"30735159.3829803256"},"orbiting_body":"Earth"},{"close_approach_date":"1941-02-10","close_approach_date_full":"1941-Feb-10 01:07","epoch_date_close_approach":-911688780000,"relative_velocity":{"kilometers_per_second":"26.448486871","kilometers_per_hour":"95214.5527356936","miles_per_hour":"59162.6202817981"},"miss_distance":{"astronomical":"0.0607131274","lunar":"23.6174065586","kilometers":"9082554.540078638","miles":"5643637.6922476844"},"orbiting_body":"Venus"},{"close_approach_date":"1942-03-12","close_approach_date_full":"1942-Mar-12 15:28","epoch_date_close_approach":-877509120000,"relative_velocity":{"kilometers_per_second":"29.0537682813","kilometers_per_hour":"104593.5658125983","miles_per_hour":"64990.3742683892"},"miss_distance":{"astronomical":"0.0678058792","lunar":"26.3764870088","kilometers":"10143615.101797304","miles":"6302950.1525746352"},"orbiting_body":"Merc"},{"close_approach_date":"1943-09-03","close_approach_date_full":"1943-Sep-03 09:06","epoch_date_close_approach":-830876040000,"relative_velocity":{"kilometers_per_second":"17.2807490757","kilometers_per_hour":"62210.6966726737","miles_per_hour":"38655.3076075288"},"miss_distance":{"astronomical":"0.1319184324","lunar":"51.3162702036","kilometers":"19734716.500778988","miles":"12262584.2099985144"},"orbiting_body":"Earth"},{"close_approach_date":"1943-11-20","close_approach_date_full":"1943-Nov-20 03:23","epoch_date_close_approach":-824157420000,"relative_velocity":{"kilometers_per_second":"33.3886906597","kilometers_per_hour":"120199.2863749722","miles_per_hour":"74687.1621367154"},"miss_distance":{"astronomical":"0.063934424","lunar":"24.870490936","kilometers":"9564453.65007688","miles":"5943075.914065744"},"orbiting_body":"Merc"},{"close_approach_date":"1944-07-24","close_approach_date_full":"1944-Jul-24 16:51","epoch_date_close_approach":-802768140000,"relative_velocity":{"kilometers_per_second":"18.6254706268","kilometers_per_hour":"67051.6942563806","miles_per_hour":"41663.3152450272"},"miss_distance":{"astronomical":"0.0617486757","lunar":"24.0202348473","kilometers":"9237470.360040759","miles":"5739897.9191261142"},"orbiting_body":"Earth"},{"close_approach_date":"1945-07-29","close_approach_date_full":"1945-Jul-29 14:42","epoch_date_close_approach":-770807880000,"relative_velocity":{"kilometers_per_second":"37.9634813297","kilometers_per_hour":"136668.5327868854","miles_per_hour":"84920.5113863845"},"miss_distance":{"astronomical":"0.0865839436","lunar":"33.6811540604","kilometers":"12952773.538760132","miles":"8048480.2639965416"},"orbiting_body":"Merc"},{"close_approach_date":"1947-08-29","close_approach_date_full":"1947-Aug-29 03:56","epoch_date_close_approach":-705096240000,"relative_velocity":{"kilometers_per_second":"26.1762939617","kilometers_per_hour":"94234.6582621438","miles_per_hour":"58553.7519629415"},"miss_distance":{"astronomical":"0.3266238591","lunar":"127.0566811899","kilometers":"48862233.612540117","miles":"30361584.0814709346"},"orbiting_body":"Earth"},{"close_approach_date":"1947-11-17","close_approach_date_full":"1947-Nov-17 11:29","epoch_date_close_approach":-698157060000,"relative_velocity":{"kilometers_per_second":"25.8724519651","kilometers_per_hour":"93140.8270742801","miles_per_hour":"57874.0878006825"},"miss_distance":{"astronomical":"0.057583754","lunar":"22.400080306","kilometers":"8614406.94500398","miles":"5352744.265575724"},"orbiting_body":"Venus"},{"close_approach_date":"1948-08-06","close_approach_date_full":"1948-Aug-06 01:01","epoch_date_close_approach":-675471540000,"relative_velocity":{"kilometers_per_second":"14.4029674308","kilometers_per_hour":"51850.6827507994","miles_per_hour":"32217.9978459064"},"miss_distance":{"astronomical":"0.1269910769","lunar":"49.3995289141","kilometers":"18997594.613246203","miles":"11804557.9080474814"},"orbiting_body":"Earth"},{"close_approach_date":"1949-08-06","close_approach_date_full":"1949-Aug-06 01:15","epoch_date_close_approach":-643934700000,"relative_velocity":{"kilometers_per_second":"31.6065064009","kilometers_per_hour":"113783.4230433728","miles_per_hour":"70700.5941682558"},"miss_distance":{"astronomical":"0.433206521","lunar":"168.517336669","kilometers":"64806772.81171027","miles":"40269061.324010926"},"orbiting_body":"Earth"},{"close_approach_date":"1950-01-09","close_approach_date_full":"1950-Jan-09 05:27","epoch_date_close_approach":-630441180000,"relative_velocity":{"kilometers_per_second":"42.8383435774","kilometers_per_hour":"154218.0368787872","miles_per_hour":"95825.0907483775"},"miss_distance":{"astronomical":"0.0729563461","lunar":"28.3800186329","kilometers":"10914113.979542807","miles":"6781715.9545404566"},"orbiting_body":"Merc"},{"close_approach_date":"1951-09-19","close_approach_date_full":"1951-Sep-19 06:17","epoch_date_close_approach":-577042980000,"relative_velocity":{"kilometers_per_second":"33.4285708921","kilometers_per_hour":"120342.8552115046","miles_per_hour":"74776.370228504"},"miss_distance":{"astronomical":"0.0369852829","lunar":"14.3872750481","kilometers":"5532919.543187423","miles":"3437996.7821075174"},"orbiting_body":"Merc"},{"close_approach_date":"1952-08-29","close_approach_date_full":"1952-Aug-29 14:03","epoch_date_close_approach":-547207020000,"relative_velocity":{"kilometers_per_second":"15.185629044","kilometers_per_hour":"54668.2645583521","miles_per_hour":"33968.7336084938"},"miss_distance":{"astronomical":"0.1293959855","lunar":"50.3350383595","kilometers":"19357363.817350885","miles":"12028108.125316813"},"orbiting_body":"Earth"},{"close_approach_date":"1953-05-30","close_approach_date_full":"1953-May-30 15:18","epoch_date_close_approach":-523528920000,"relative_velocity":{"kilometers_per_second":"27.9568594088","kilometers_per_hour":"100644.6938718107","miles_per_hour":"62536.6988116259"},"miss_distance":{"astronomical":"0.0762818096","lunar":"29.6736239344","kilometers":"11411596.235905552","miles":"7090837.0945065376"},"orbiting_body":"Merc"},{"close_approach_date":"1953-07-26","close_approach_date_full":"1953-Jul-26 18:46","epoch_date_close_approach":-518591640000,"relative_velocity":{"kilometers_per_second":"21.9943751075","kilometers_per_hour":"79179.7503869489","miles_per_hour":"49199.217677935"},"miss_distance":{"astronomical":"0.1634473566","lunar":"63.5810217174","kilometers":"24451376.404490442","miles":"15193380.7713224196"},"orbiting_body":"Earth"},{"close_approach_date":"1954-08-24","close_approach_date_full":"1954-Aug-24 00:16","epoch_date_close_approach":-484616640000,"relative_velocity":{"kilometers_per_second":"25.5165348423","kilometers_per_hour":"91859.5254322141","miles_per_hour":"57077.9367886999"},"miss_distance":{"astronomical":"0.0568520477","lunar":"22.1154465553","kilometers":"8504945.241058399","miles":"5284727.9167039462"},"orbiting_body":"Venus"},{"close_approach_date":"1956-09-01","close_approach_date_full":"1956-Sep-01 03:24","epoch_date_close_approach":-420755760000,"relative_velocity":{"kilometers_per_second":"22.3660548812","kilometers_per_hour":"80517.797572387","miles_per_hour":"50030.6281637979"},"miss_distance":{"astronomical":"0.2307062226","lunar":"89.7447205914","kilometers":"34513159.496705862","miles":"21445482.8709984156"},"orbiting_body":"Earth"},{"close_approach_date":"1957-07-29","close_approach_date_full":"1957-Jul-29 03:29","epoch_date_close_approach":-392157060000,"relative_velocity":{"kilometers_per_second":"15.1637246238","kilometers_per_hour":"54589.4086457696","miles_per_hour":"33919.7356110339"},"miss_distance":{"astronomical":"0.0738072531","lunar":"28.7110214559","kilometers":"11041407.854310897","miles":"6860812.7005564986"},"orbiting_body":"Earth"},{"close_approach_date":"1960-08-21","close_approach_date_full":"1960-Aug-21 12:01","epoch_date_close_approach":-295444740000,"relative_velocity":{"kilometers_per_second":"32.1585580511","kilometers_per_hour":"115770.8089841198","miles_per_hour":"71935.4785046049"},"miss_distance":{"astronomical":"0.4813451086","lunar":"187.2432472454","kilometers":"72008202.981478682","miles":"44743822.5340705316"},"orbiting_body":"Earth"},{"close_approach_date":"1961-05-30","close_approach_date_full":"1961-May-30 13:13","epoch_date_close_approach":-271075620000,"relative_velocity":{"kilometers_per_second":"25.1343042546","kilometers_per_hour":"90483.4953164398","miles_per_hour":"56222.92518704"},"miss_distance":{"astronomical":"0.0573281652","lunar":"22.3006562628","kilometers":"8576171.404928124","miles":"5328985.8026671512"},"orbiting_body":"Venus"},{"close_approach_date":"1961-08-21","close_approach_date_full":"1961-Aug-21 09:27","epoch_date_close_approach":-263917980000,"relative_velocity":{"kilometers_per_second":"14.404393544","kilometers_per_hour":"51855.8167583849","miles_per_hour":"32221.1879185642"},"miss_distance":{"astronomical":"0.14564259","lunar":"56.65496751","kilometers":"21787821.2452833","miles":"13538324.34137754"},"orbiting_body":"Earth"},{"close_approach_date":"1962-07-30","close_approach_date_full":"1962-Jul-30 12:58","epoch_date_close_approach":-234270120000,"relative_velocity":{"kilometers_per_second":"25.7004512103","kilometers_per_hour":"92521.6243571286","miles_per_hour":"57489.3393123503"},"miss_distance":{"astronomical":"0.2695664827","lunar":"104.8613617703","kilometers":"40326571.635311849","miles":"25057769.6699635562"},"orbiting_body":"Earth"},{"close_approach_date":"1965-04-23","close_approach_date_full":"1965-Apr-23 18:22","epoch_date_close_approach":-148023480000,"relative_velocity":{"kilometers_per_second":"24.7710804847","kilometers_per_hour":"89175.8897450964","miles_per_hour":"55410.429936335"},"miss_distance":{"astronomical":"0.0925840502","lunar":"36.0151955278","kilometers":"13850376.705893074","miles":"8606225.0090854612"},"orbiting_body":"Merc"},{"close_approach_date":"1965-09-03","close_approach_date_full":"1965-Sep-03 06:57","epoch_date_close_approach":-136573380000,"relative_velocity":{"kilometers_per_second":"18.9137884185","kilometers_per_hour":"68089.6383065719","miles_per_hour":"42308.2533133252"},"miss_distance":{"astronomical":"0.1565258475","lunar":"60.8885546775","kilometers":"23415933.385944825","miles":"14549986.314195585"},"orbiting_body":"Earth"},{"close_approach_date":"1966-07-25","close_approach_date_full":"1966-Jul-25 14:11","epoch_date_close_approach":-108467340000,"relative_velocity":{"kilometers_per_second":"17.0920883129","kilometers_per_hour":"61531.517926346","miles_per_hour":"38233.2923470676"},"miss_distance":{"astronomical":"0.0189281294","lunar":"7.3630423366","kilometers":"2831607.841324378","miles":"1759479.5244492964"},"orbiting_body":"Earth"},{"close_approach_date":"1967-01-01","close_approach_date_full":"1967-Jan-01 16:07","epoch_date_close_approach":-94636380000,"relative_velocity":{"kilometers_per_second":"29.5401654423","kilometers_per_hour":"106344.5955922138","miles_per_hour":"66078.3960778397"},"miss_distance":{"astronomical":"0.0660229798","lunar":"25.6829391422","kilometers":"9876897.149133026","miles":"6137219.3018307188"},"orbiting_body":"Merc"},{"close_approach_date":"1968-03-06","close_approach_date_full":"1968-Mar-06 02:39","epoch_date_close_approach":-57532860000,"relative_velocity":{"kilometers_per_second":"24.7936655982","kilometers_per_hour":"89257.1961534836","miles_per_hour":"55460.950576591"},"miss_distance":{"astronomical":"0.05893016","lunar":"22.92383224","kilometers":"8815826.4147592","miles":"5477900.52050896"},"orbiting_body":"Venus"},{"close_approach_date":"1968-09-10","close_approach_date_full":"1968-Sep-10 10:21","epoch_date_close_approach":-41261940000,"relative_velocity":{"kilometers_per_second":"34.618957389","kilometers_per_hour":"124628.2466004954","miles_per_hour":"77439.1457835134"},"miss_distance":{"astronomical":"0.0680973113","lunar":"26.4898540957","kilometers":"10187212.723206931","miles":"6330040.4583244078"},"orbiting_body":"Merc"},{"close_approach_date":"1969-08-26","close_approach_date_full":"1969-Aug-26 14:37","epoch_date_close_approach":-11006580000,"relative_velocity":{"kilometers_per_second":"28.1479627091","kilometers_per_hour":"101332.665752823","miles_per_hour":"62964.1777840249"},"miss_distance":{"astronomical":"0.3781109054","lunar":"147.0851422006","kilometers":"56564586.071611498","miles":"35147603.9688467524"},"orbiting_body":"Earth"},{"close_approach_date":"1970-05-21","close_approach_date_full":"1970-May-21 00:03","epoch_date_close_approach":12096180000,"relative_velocity":{"kilometers_per_second":"39.5401884268","kilometers_per_hour":"142344.6783363756","miles_per_hour":"88447.447491844"},"miss_distance":{"astronomical":"0.0980744678","lunar":"38.1509679742","kilometers":"14671731.484263586","miles":"9116591.2023700468"},"orbiting_body":"Merc"},{"close_approach_date":"1970-08-11","close_approach_date_full":"1970-Aug-11 11:32","epoch_date_close_approach":19222320000,"relative_velocity":{"kilometers_per_second":"14.2920387298","kilometers_per_hour":"51451.3394274132","miles_per_hour":"31969.8614347724"},"miss_distance":{"astronomical":"0.1413539753","lunar":"54.9866963917","kilometers":"21146253.620912611","miles":"13139672.7053155918"},"orbiting_body":"Earth"},{"close_approach_date":"1971-08-04","close_approach_date_full":"1971-Aug-04 09:19","epoch_date_close_approach":50145540000,"relative_velocity":{"kilometers_per_second":"29.7057609638","kilometers_per_hour":"106940.7394696141","miles_per_hour":"66448.8166998833"},"miss_distance":{"astronomical":"0.3816618707","lunar":"148.4664677023","kilometers":"57095802.916935409","miles":"35477686.8103862842"},"orbiting_body":"Earth"},{"close_approach_date":"1974-09-01","close_approach_date_full":"1974-Sep-01 17:21","epoch_date_close_approach":147288060000,"relative_velocity":{"kilometers_per_second":"15.9538661919","kilometers_per_hour":"57433.9182909725","miles_per_hour":"35687.2032847434"},"miss_distance":{"astronomical":"0.1260045787","lunar":"49.0157811143","kilometers":"18850016.583767369","miles":"11712857.1727489322"},"orbiting_body":"Earth"},{"close_approach_date":"1974-11-01","close_approach_date_full":"1974-Nov-01 03:23","epoch_date_close_approach":152508180000,"relative_velocity":{"kilometers_per_second":"37.9261111942","kilometers_per_hour":"136534.0002990962","miles_per_hour":"84836.9181302912"},"miss_distance":{"astronomical":"0.046588102","lunar":"18.122771678","kilometers":"6969480.82654274","miles":"4330634.571420212"},"orbiting_body":"Merc"},{"close_approach_date":"1974-12-11","close_approach_date_full":"1974-Dec-11 20:29","epoch_date_close_approach":156025740000,"relative_velocity":{"kilometers_per_second":"24.8719697518","kilometers_per_hour":"89539.0911063817","miles_per_hour":"55636.1091377404"},"miss_distance":{"astronomical":"0.0582880573","lunar":"22.6740542897","kilometers":"8719769.218517951","miles":"5418213.3464956838"},"orbiting_body":"Venus"},{"close_approach_date":"1975-07-26","close_approach_date_full":"1975-Jul-26 07:58","epoch_date_close_approach":175593480000,"relative_velocity":{"kilometers_per_second":"20.4395411227","kilometers_per_hour":"73582.3480417798","miles_per_hour":"45721.2095374048"},"miss_distance":{"astronomical":"0.1173612882","lunar":"45.6535411098","kilometers":"17556998.735176134","miles":"10909413.1378292892"},"orbiting_body":"Earth"},{"close_approach_date":"1976-07-11","close_approach_date_full":"1976-Jul-11 20:13","epoch_date_close_approach":205963980000,"relative_velocity":{"kilometers_per_second":"29.3323710108","kilometers_per_hour":"105596.5356389236","miles_per_hour":"65613.5807140856"},"miss_distance":{"astronomical":"0.0547077333","lunar":"21.2813082537","kilometers":"8184160.374208071","miles":"5085401.4433345398"},"orbiting_body":"Merc"},{"close_approach_date":"1978-08-31","close_approach_date_full":"1978-Aug-31 09:50","epoch_date_close_approach":273405000000,"relative_velocity":{"kilometers_per_second":"23.9253789632","kilometers_per_hour":"86131.3642674437","miles_per_hour":"53518.6802027347"},"miss_distance":{"astronomical":"0.2695817677","lunar":"104.8673076353","kilometers":"40328858.238754799","miles":"25059190.4994582662"},"orbiting_body":"Earth"},{"close_approach_date":"1979-08-01","close_approach_date_full":"1979-Aug-01 15:01","epoch_date_close_approach":302367660000,"relative_velocity":{"kilometers_per_second":"14.7215241387","kilometers_per_hour":"52997.486899352","miles_per_hour":"32930.5773458779"},"miss_distance":{"astronomical":"0.0991684927","lunar":"38.5765436603","kilometers":"14835395.279030549","miles":"9218287.1687336162"},"orbiting_body":"Earth"},{"close_approach_date":"1980-08-08","close_approach_date_full":"1980-Aug-08 23:43","epoch_date_close_approach":334626180000,"relative_velocity":{"kilometers_per_second":"34.0644215038","kilometers_per_hour":"122631.9174136346","miles_per_hour":"76198.704461822"},"miss_distance":{"astronomical":"0.4985857843","lunar":"193.9498700927","kilometers":"74587371.343559441","miles":"46346443.4397486458"},"orbiting_body":"Earth"},{"close_approach_date":"1981-09-17","close_approach_date_full":"1981-Sep-17 14:22","epoch_date_close_approach":369584520000,"relative_velocity":{"kilometers_per_second":"24.9886099251","kilometers_per_hour":"89958.995730436","miles_per_hour":"55897.0215415034"},"miss_distance":{"astronomical":"0.0576368877","lunar":"22.4207493153","kilometers":"8622355.633349199","miles":"5357683.3514849862"},"orbiting_body":"Venus"},{"close_approach_date":"1983-08-25","close_approach_date_full":"1983-Aug-25 10:04","epoch_date_close_approach":430653840000,"relative_velocity":{"kilometers_per_second":"14.5663704246","kilometers_per_hour":"52438.9335285179","miles_per_hour":"32583.5140027616"},"miss_distance":{"astronomical":"0.141438527","lunar":"55.019587003","kilometers":"21158902.37513749","miles":"13147532.276737762"},"orbiting_body":"Earth"},{"close_approach_date":"1984-07-28","close_approach_date_full":"1984-Jul-28 19:34","epoch_date_close_approach":459891240000,"relative_velocity":{"kilometers_per_second":"24.3861428843","kilometers_per_hour":"87790.1143834037","miles_per_hour":"54549.3630178432"},"miss_distance":{"astronomical":"0.2321235568","lunar":"90.2960635952","kilometers":"34725189.674104016","miles":"21577232.3139307808"},"orbiting_body":"Earth"},{"close_approach_date":"1987-09-03","close_approach_date_full":"1987-Sep-03 14:29","epoch_date_close_approach":557677740000,"relative_velocity":{"kilometers_per_second":"19.9365168231","kilometers_per_hour":"71771.4605630498","miles_per_hour":"44595.9944815239"},"miss_distance":{"astronomical":"0.1774120376","lunar":"69.0132826264","kilometers":"26540462.937319912","miles":"16491478.9492103056"},"orbiting_body":"Earth"},{"close_approach_date":"1988-06-06","close_approach_date_full":"1988-Jun-06 23:45","epoch_date_close_approach":581643900000,"relative_velocity":{"kilometers_per_second":"25.1345232441","kilometers_per_hour":"90484.2836788464","miles_per_hour":"56223.415044781"},"miss_distance":{"astronomical":"0.0899538906","lunar":"34.9920634434","kilometers":"13456910.431973022","miles":"8361736.4035588236"},"orbiting_body":"Merc"},{"close_approach_date":"1988-06-24","close_approach_date_full":"1988-Jun-24 07:25","epoch_date_close_approach":583140300000,"relative_velocity":{"kilometers_per_second":"24.996568812","kilometers_per_hour":"89987.6477230585","miles_per_hour":"55914.8247754749"},"miss_distance":{"astronomical":"0.0574258071","lunar":"22.3386389619","kilometers":"8590778.425190877","miles":"5338062.1841810226"},"orbiting_body":"Venus"},{"close_approach_date":"1988-07-25","close_approach_date_full":"1988-Jul-25 21:10","epoch_date_close_approach":585868200000,"relative_velocity":{"kilometers_per_second":"16.3625962329","kilometers_per_hour":"58905.3464383702","miles_per_hour":"36601.4915133306"},"miss_distance":{"astronomical":"0.0249765049","lunar":"9.7158604061","kilometers":"3736431.933084563","miles":"2321711.1440424494"},"orbiting_body":"Earth"},{"close_approach_date":"1990-02-14","close_approach_date_full":"1990-Feb-14 16:04","epoch_date_close_approach":635011440000,"relative_velocity":{"kilometers_per_second":"29.4293530626","kilometers_per_hour":"105945.6710253985","miles_per_hour":"65830.5198657539"},"miss_distance":{"astronomical":"0.0663244253","lunar":"25.8002014417","kilometers":"9921992.753854111","miles":"6165240.4112482918"},"orbiting_body":"Merc"},{"close_approach_date":"1991-08-25","close_approach_date_full":"1991-Aug-25 11:17","epoch_date_close_approach":683119020000,"relative_velocity":{"kilometers_per_second":"29.6044920347","kilometers_per_hour":"106576.1713248869","miles_per_hour":"66222.2882323999"},"miss_distance":{"astronomical":"0.4160151619","lunar":"161.8298979791","kilometers":"62234982.107945153","miles":"38671024.6826349914"},"orbiting_body":"Earth"},{"close_approach_date":"1991-10-25","close_approach_date_full":"1991-Oct-25 03:28","epoch_date_close_approach":688361280000,"relative_velocity":{"kilometers_per_second":"33.7436173361","kilometers_per_hour":"121477.0224101209","miles_per_hour":"75481.0976192221"},"miss_distance":{"astronomical":"0.0648821168","lunar":"25.2391434352","kilometers":"9706226.474371216","miles":"6031169.4621301408"},"orbiting_body":"Merc"},{"close_approach_date":"1992-08-15","close_approach_date_full":"1992-Aug-15 00:22","epoch_date_close_approach":713838120000,"relative_velocity":{"kilometers_per_second":"14.2838689806","kilometers_per_hour":"51421.9283300092","miles_per_hour":"31951.5865226104"},"miss_distance":{"astronomical":"0.1468751771","lunar":"57.1344438919","kilometers":"21972213.650032777","miles":"13652900.4687232426"},"orbiting_body":"Earth"},{"close_approach_date":"1993-07-03","close_approach_date_full":"1993-Jul-03 12:07","epoch_date_close_approach":741701220000,"relative_velocity":{"kilometers_per_second":"38.0351693657","kilometers_per_hour":"136926.6097164178","miles_per_hour":"85080.8703540708"},"miss_distance":{"astronomical":"0.0870631688","lunar":"33.8675726632","kilometers":"13024464.607930456","miles":"8093027.0287180528"},"orbiting_body":"Merc"},{"close_approach_date":"1993-08-02","close_approach_date_full":"1993-Aug-02 02:58","epoch_date_close_approach":744260280000,"relative_velocity":{"kilometers_per_second":"28.0973219059","kilometers_per_hour":"101150.3588611324","miles_per_hour":"62850.8993712408"},"miss_distance":{"astronomical":"0.3370928157","lunar":"131.1291053073","kilometers":"50428367.221022559","miles":"31334734.3802029542"},"orbiting_body":"Earth"},{"close_approach_date":"1995-03-31","close_approach_date_full":"1995-Mar-31 16:06","epoch_date_close_approach":796665960000,"relative_velocity":{"kilometers_per_second":"24.1345628095","kilometers_per_hour":"86884.4261143422","miles_per_hour":"53986.6035486589"},"miss_distance":{"astronomical":"0.0641788867","lunar":"24.9655869263","kilometers":"9601024.749291329","miles":"5965800.1413811802"},"orbiting_body":"Venus"},{"close_approach_date":"1996-09-02","close_approach_date_full":"1996-Sep-02 19:20","epoch_date_close_approach":841692000000,"relative_velocity":{"kilometers_per_second":"17.1327763206","kilometers_per_hour":"61677.9947542482","miles_per_hour":"38324.3073516049"},"miss_distance":{"astronomical":"0.1321741893","lunar":"51.4157596377","kilometers":"19772977.188256791","miles":"12286358.2987780758"},"orbiting_body":"Earth"},{"close_approach_date":"1997-07-25","close_approach_date_full":"1997-Jul-25 06:04","epoch_date_close_approach":869810640000,"relative_velocity":{"kilometers_per_second":"18.7564153822","kilometers_per_hour":"67523.095375762","miles_per_hour":"41956.225568345"},"miss_distance":{"astronomical":"0.0658904655","lunar":"25.6313910795","kilometers":"9857073.292108485","miles":"6124901.328267693"},"orbiting_body":"Earth"},{"close_approach_date":"1997-12-13","close_approach_date_full":"1997-Dec-13 16:06","epoch_date_close_approach":882029160000,"relative_velocity":{"kilometers_per_second":"45.0721797853","kilometers_per_hour":"162259.8472270872","miles_per_hour":"100821.958961742"},"miss_distance":{"astronomical":"0.086362055","lunar":"33.594839395","kilometers":"12919579.47682285","miles":"8027854.43034133"},"orbiting_body":"Merc"},{"close_approach_date":"1999-08-23","close_approach_date_full":"1999-Aug-23 12:15","epoch_date_close_approach":935410500000,"relative_velocity":{"kilometers_per_second":"35.7445058615","kilometers_per_hour":"128680.221101378","miles_per_hour":"79956.8851615757"},"miss_distance":{"astronomical":"0.0388161927","lunar":"15.0994989603","kilometers":"5806819.749429549","miles":"3608190.4782798162"},"orbiting_body":"Merc"},{"close_approach_date":"2000-08-28","close_approach_date_full":"2000-Aug-28 19:27","epoch_date_close_approach":967490820000,"relative_velocity":{"kilometers_per_second":"26.0907495942","kilometers_per_hour":"93926.6985390599","miles_per_hour":"58362.3977672286"},"miss_distance":{"astronomical":"0.3248797203","lunar":"126.3782111967","kilometers":"48601314.163075761","miles":"30199456.2535410618"},"orbiting_body":"Earth"},{"close_approach_date":"2001-05-03","close_approach_date_full":"2001-May-03 05:18","epoch_date_close_approach":988867080000,"relative_velocity":{"kilometers_per_second":"28.6554227711","kilometers_per_hour":"103159.5219760277","miles_per_hour":"64099.3151967156"},"miss_distance":{"astronomical":"0.0616532199","lunar":"23.9831025411","kilometers":"9223190.375681613","miles":"5731024.7482997394"},"orbiting_body":"Merc"},{"close_approach_date":"2001-08-06","close_approach_date_full":"2001-Aug-06 07:55","epoch_date_close_approach":997084500000,"relative_velocity":{"kilometers_per_second":"14.3848838874","kilometers_per_hour":"51785.5819946008","miles_per_hour":"32177.5467677007"},"miss_distance":{"astronomical":"0.1265868535","lunar":"49.2422860115","kilometers":"18937123.653602045","miles":"11766982.996096421"},"orbiting_body":"Earth"},{"close_approach_date":"2002-01-05","close_approach_date_full":"2002-Jan-05 03:17","epoch_date_close_approach":1010200620000,"relative_velocity":{"kilometers_per_second":"23.4089478953","kilometers_per_hour":"84272.2124231887","miles_per_hour":"52363.4755470641"},"miss_distance":{"astronomical":"0.0736151088","lunar":"28.6362773232","kilometers":"11012663.476298256","miles":"6842951.7722816928"},"orbiting_body":"Venus"},{"close_approach_date":"2002-08-06","close_approach_date_full":"2002-Aug-06 15:09","epoch_date_close_approach":1028646540000,"relative_velocity":{"kilometers_per_second":"31.6672060398","kilometers_per_hour":"114001.9417432829","miles_per_hour":"70836.3731904304"},"miss_distance":{"astronomical":"0.4345788356","lunar":"169.0511670484","kilometers":"65012068.152840172","miles":"40396625.9337394936"},"orbiting_body":"Earth"},{"close_approach_date":"2005-08-30","close_approach_date_full":"2005-Aug-30 06:32","epoch_date_close_approach":1125383520000,"relative_velocity":{"kilometers_per_second":"15.2437459555","kilometers_per_hour":"54877.4854398662","miles_per_hour":"34098.7353278991"},"miss_distance":{"astronomical":"0.1303453291","lunar":"50.7043330199","kilometers":"19499383.597809017","miles":"12116355.1248257546"},"orbiting_body":"Earth"},{"close_approach_date":"2006-07-27","close_approach_date_full":"2006-Jul-27 04:50","epoch_date_close_approach":1153975800000,"relative_velocity":{"kilometers_per_second":"21.8838677292","kilometers_per_hour":"78781.9238252744","miles_per_hour":"48952.0237235434"},"miss_distance":{"astronomical":"0.1594837579","lunar":"62.0391818231","kilometers":"23858430.481435673","miles":"14824941.2595033674"},"orbiting_body":"Earth"},{"close_approach_date":"2008-10-11","close_approach_date_full":"2008-Oct-11 15:40","epoch_date_close_approach":1223739600000,"relative_velocity":{"kilometers_per_second":"22.6803649711","kilometers_per_hour":"81649.31389614","miles_per_hour":"50733.7084039654"},"miss_distance":{"astronomical":"0.0860557123","lunar":"33.4756720847","kilometers":"12873751.261412801","miles":"7999378.0977506138"},"orbiting_body":"Venus"},{"close_approach_date":"2009-09-01","close_approach_date_full":"2009-Sep-01 09:51","epoch_date_close_approach":1251798660000,"relative_velocity":{"kilometers_per_second":"22.6130437596","kilometers_per_hour":"81406.9575344498","miles_per_hour":"50583.1175857808"},"miss_distance":{"astronomical":"0.2382803161","lunar":"92.6910429629","kilometers":"35646227.751486707","miles":"22149538.8370102766"},"orbiting_body":"Earth"},{"close_approach_date":"2010-07-30","close_approach_date_full":"2010-Jul-30 05:23","epoch_date_close_approach":1280467380000,"relative_velocity":{"kilometers_per_second":"15.0279647281","kilometers_per_hour":"54100.673021052","miles_per_hour":"33616.0543002198"},"miss_distance":{"astronomical":"0.079673681","lunar":"30.993061909","kilometers":"11919012.97265947","miles":"7406131.234341886"},"orbiting_body":"Earth"},{"close_approach_date":"2013-08-21","close_approach_date_full":"2013-Aug-21 07:22","epoch_date_close_approach":1377069720000,"relative_velocity":{"kilometers_per_second":"32.6907038727","kilometers_per_hour":"117686.5339415965","miles_per_hour":"73125.8354927659"},"miss_distance":{"astronomical":"0.4961923092","lunar":"193.0188082788","kilometers":"74229312.566701404","miles":"46123956.0326872152"},"orbiting_body":"Earth"},{"close_approach_date":"2014-08-23","close_approach_date_full":"2014-Aug-23 08:41","epoch_date_close_approach":1408783260000,"relative_velocity":{"kilometers_per_second":"14.4814182913","kilometers_per_hour":"52133.1058486818","miles_per_hour":"32393.4845758101"},"miss_distance":{"astronomical":"0.1446197138","lunar":"56.2570686682","kilometers":"21634801.144489606","miles":"13443242.0597683228"},"orbiting_body":"Earth"},{"close_approach_date":"2014-12-04","close_approach_date_full":"2014-Dec-04 13:36","epoch_date_close_approach":1417700160000,"relative_velocity":{"kilometers_per_second":"25.0670237051","kilometers_per_hour":"90241.2853383744","miles_per_hour":"56072.4253259471"},"miss_distance":{"astronomical":"0.090404715","lunar":"35.167434135","kilometers":"13524352.80195705","miles":"8403643.14902529"},"orbiting_body":"Merc"},{"close_approach_date":"2015-07-19","close_approach_date_full":"2015-Jul-19 05:52","epoch_date_close_approach":1437285120000,"relative_velocity":{"kilometers_per_second":"21.7513645228","kilometers_per_hour":"78304.9122820058","miles_per_hour":"48655.6273010052"},"miss_distance":{"astronomical":"0.1053744325","lunar":"40.9906542425","kilometers":"15763790.654458775","miles":"9795165.304830095"},"orbiting_body":"Venus"},{"close_approach_date":"2015-07-30","close_approach_date_full":"2015-Jul-30 10:21","epoch_date_close_approach":1438251660000,"relative_velocity":{"kilometers_per_second":"25.0600247601","kilometers_per_hour":"90216.0891362556","miles_per_hour":"56056.7693858028"},"miss_distance":{"astronomical":"0.2516130894","lunar":"97.8774917766","kilometers":"37640782.238359578","miles":"23388897.5253270564"},"orbiting_body":"Earth"},{"close_approach_date":"2016-08-13","close_approach_date_full":"2016-Aug-13 04:21","epoch_date_close_approach":1471062060000,"relative_velocity":{"kilometers_per_second":"29.1946932028","kilometers_per_hour":"105100.8955301621","miles_per_hour":"65305.6092253943"},"miss_distance":{"astronomical":"0.0668617355","lunar":"26.0092151095","kilometers":"10002373.215303385","miles":"6215186.513961313"},"orbiting_body":"Merc"},{"close_approach_date":"2018-04-22","close_approach_date_full":"2018-Apr-22 13:15","epoch_date_close_approach":1524402900000,"relative_velocity":{"kilometers_per_second":"33.2218784702","kilometers_per_hour":"119598.7624928255","miles_per_hour":"74314.0199500559"},"miss_distance":{"astronomical":"0.0632976359","lunar":"24.6227803651","kilometers":"9469191.506675533","miles":"5883882.7629790354"},"orbiting_body":"Merc"},{"close_approach_date":"2018-09-03","close_approach_date_full":"2018-Sep-03 13:36","epoch_date_close_approach":1535981760000,"relative_velocity":{"kilometers_per_second":"19.6774015159","kilometers_per_hour":"70838.6454572706","miles_per_hour":"44016.3794509357"},"miss_distance":{"astronomical":"0.1721372249","lunar":"66.9613804861","kilometers":"25751362.192750963","miles":"16001154.4831827694"},"orbiting_body":"Earth"},{"close_approach_date":"2019-07-26","close_approach_date_full":"2019-Jul-26 15:04","epoch_date_close_approach":1564153440000,"relative_velocity":{"kilometers_per_second":"16.4909557685","kilometers_per_hour":"59367.4407665503","miles_per_hour":"36888.6189585268"},"miss_distance":{"astronomical":"0.0210717866","lunar":"8.1969249874","kilometers":"3152294.392454542","miles":"1958744.9072629996"},"orbiting_body":"Earth"},{"close_approach_date":"2019-12-30","close_approach_date_full":"2019-Dec-30 17:39","epoch_date_close_approach":1577727540000,"relative_velocity":{"kilometers_per_second":"36.9899086887","kilometers_per_hour":"133163.6712794345","miles_per_hour":"82742.7267458242"},"miss_distance":{"astronomical":"0.0800948661","lunar":"31.1569029129","kilometers":"11982021.366495207","miles":"7445282.8347875766"},"orbiting_body":"Merc"},{"close_approach_date":"2022-04-25","close_approach_date_full":"2022-Apr-25 02:39","epoch_date_close_approach":1650854340000,"relative_velocity":{"kilometers_per_second":"20.5915436552","kilometers_per_hour":"74129.5571586052","miles_per_hour":"46061.2240022455"},"miss_distance":{"astronomical":"0.1354750163","lunar":"52.6997813407","kilometers":"20266773.876695281","miles":"12593189.3330296378"},"orbiting_body":"Venus"},{"close_approach_date":"2022-08-25","close_approach_date_full":"2022-Aug-25 05:02","epoch_date_close_approach":1661403720000,"relative_velocity":{"kilometers_per_second":"29.7283974816","kilometers_per_hour":"107022.230933612","miles_per_hour":"66499.4523264991"},"miss_distance":{"astronomical":"0.4190750573","lunar":"163.0201972897","kilometers":"62692735.942207951","miles":"38955459.7258176838"},"orbiting_body":"Earth"},{"close_approach_date":"2023-08-16","close_approach_date_full":"2023-Aug-16 11:36","epoch_date_close_approach":1692185760000,"relative_velocity":{"kilometers_per_second":"14.3080496891","kilometers_per_hour":"51508.9788808378","miles_per_hour":"32005.6763495961"},"miss_distance":{"astronomical":"0.1470728362","lunar":"57.2113332818","kilometers":"22001783.030378894","miles":"13671274.0296769772"},"orbiting_body":"Earth"},{"close_approach_date":"2024-08-01","close_approach_date_full":"2024-Aug-01 14:16","epoch_date_close_approach":1722521760000,"relative_velocity":{"kilometers_per_second":"27.7344109552","kilometers_per_hour":"99843.8794386538","miles_per_hour":"62039.1038656457"},"miss_distance":{"astronomical":"0.3268193058","lunar":"127.1327099562","kilometers":"48891472.022558646","miles":"30379751.9869994748"},"orbiting_body":"Earth"},{"close_approach_date":"2026-02-17","close_approach_date_full":"2026-Feb-17 01:37","epoch_date_close_approach":1771292220000,"relative_velocity":{"kilometers_per_second":"45.0013671541","kilometers_per_hour":"162004.9217546376","miles_per_hour":"100663.5581869302"},"miss_distance":{"astronomical":"0.0859102769","lunar":"33.4190977141","kilometers":"12851994.435350203","miles":"7985859.0329226814"},"orbiting_body":"Merc"},{"close_approach_date":"2027-09-03","close_approach_date_full":"2027-Sep-03 22:29","epoch_date_close_approach":1820010540000,"relative_velocity":{"kilometers_per_second":"17.647867454","kilometers_per_hour":"63532.3228345332","miles_per_hour":"39476.5147079354"},"miss_distance":{"astronomical":"0.1384016312","lunar":"53.8382345368","kilometers":"20704589.232045544","miles":"12865235.1799107472"},"orbiting_body":"Earth"},{"close_approach_date":"2027-10-27","close_approach_date_full":"2027-Oct-27 08:34","epoch_date_close_approach":1824626040000,"relative_velocity":{"kilometers_per_second":"37.9112424643","kilometers_per_hour":"136480.4728715624","miles_per_hour":"84803.6582684439"},"miss_distance":{"astronomical":"0.0464755868","lunar":"18.0790032652","kilometers":"6952648.792280116","miles":"4320175.6303169608"},"orbiting_body":"Merc"},{"close_approach_date":"2028-07-25","close_approach_date_full":"2028-Jul-25 02:35","epoch_date_close_approach":1848105300000,"relative_velocity":{"kilometers_per_second":"18.145395743","kilometers_per_hour":"65323.4246746204","miles_per_hour":"40589.4357374051"},"miss_distance":{"astronomical":"0.0460533054","lunar":"17.9147358006","kilometers":"6889476.394299498","miles":"4280922.1224211524"},"orbiting_body":"Earth"},{"close_approach_date":"2029-07-06","close_approach_date_full":"2029-Jul-06 02:17","epoch_date_close_approach":1877998620000,"relative_velocity":{"kilometers_per_second":"31.2632884917","kilometers_per_hour":"112547.8385701351","miles_per_hour":"69932.8500270931"},"miss_distance":{"astronomical":"0.04282169","lunar":"16.65763741","kilometers":"6406033.6138003","miles":"3980524.70823214"},"orbiting_body":"Merc"},{"close_approach_date":"2031-03-17","close_approach_date_full":"2031-Mar-17 00:49","epoch_date_close_approach":1931474940000,"relative_velocity":{"kilometers_per_second":"27.9823106024","kilometers_per_hour":"100736.318168762","miles_per_hour":"62593.6305865844"},"miss_distance":{"astronomical":"0.0796441489","lunar":"30.9815739221","kilometers":"11914595.033402843","miles":"7403386.0541835134"},"orbiting_body":"Merc"},{"close_approach_date":"2031-08-28","close_approach_date_full":"2031-Aug-28 10:32","epoch_date_close_approach":1945679520000,"relative_velocity":{"kilometers_per_second":"27.1867957919","kilometers_per_hour":"97872.4648506989","miles_per_hour":"60814.1435068134"},"miss_distance":{"astronomical":"0.3539190723","lunar":"137.6745191247","kilometers":"52945539.368456001","miles":"32898832.6244187738"},"orbiting_body":"Earth"},{"close_approach_date":"2032-08-09","close_approach_date_full":"2032-Aug-09 05:03","epoch_date_close_approach":1975640580000,"relative_velocity":{"kilometers_per_second":"14.3317632995","kilometers_per_hour":"51594.3478783357","miles_per_hour":"32058.7213247359"},"miss_distance":{"astronomical":"0.1365572263","lunar":"53.1207610307","kilometers":"20428670.187587981","miles":"12693787.0358408978"},"orbiting_body":"Earth"},{"close_approach_date":"2033-08-04","close_approach_date_full":"2033-Aug-04 23:21","epoch_date_close_approach":2006810460000,"relative_velocity":{"kilometers_per_second":"30.3614006406","kilometers_per_hour":"109301.0423062885","miles_per_hour":"67915.417093038"},"miss_distance":{"astronomical":"0.3990271424","lunar":"155.2215583936","kilometers":"59693610.575226688","miles":"37091889.6376687744"},"orbiting_body":"Earth"},{"close_approach_date":"2035-03-31","close_approach_date_full":"2035-Mar-31 08:59","epoch_date_close_approach":2058944340000,"relative_velocity":{"kilometers_per_second":"31.8623894272","kilometers_per_hour":"114704.6019378966","miles_per_hour":"71272.9789096891"},"miss_distance":{"astronomical":"0.1418642403","lunar":"55.1851894767","kilometers":"21222588.178048161","miles":"13187104.7996641818"},"orbiting_body":"Venus"},{"close_approach_date":"2036-09-01","close_approach_date_full":"2036-Sep-01 06:49","epoch_date_close_approach":2103864540000,"relative_velocity":{"kilometers_per_second":"15.8741360332","kilometers_per_hour":"57146.8897195546","miles_per_hour":"35508.8548926866"},"miss_distance":{"astronomical":"0.127172464","lunar":"49.470088496","kilometers":"19024729.73705168","miles":"11821418.892125984"},"orbiting_body":"Earth"},{"close_approach_date":"2037-07-26","close_approach_date_full":"2037-Jul-26 03:24","epoch_date_close_approach":2132191440000,"relative_velocity":{"kilometers_per_second":"20.4506369579","kilometers_per_hour":"73622.2930485818","miles_per_hour":"45746.0298112146"},"miss_distance":{"astronomical":"0.1170882875","lunar":"45.5473438375","kilometers":"17516158.411947625","miles":"10884036.137722225"},"orbiting_body":"Earth"},{"close_approach_date":"2040-08-30","close_approach_date_full":"2040-Aug-30 18:25","epoch_date_close_approach":2229963900000,"relative_velocity":{"kilometers_per_second":"24.3488992017","kilometers_per_hour":"87656.0371261715","miles_per_hour":"54466.0526243147"},"miss_distance":{"astronomical":"0.2809129708","lunar":"109.2751456412","kilometers":"42023982.087052196","miles":"26112491.6165684648"},"orbiting_body":"Earth"},{"close_approach_date":"2041-08-02","close_approach_date_full":"2041-Aug-02 14:58","epoch_date_close_approach":2259068280000,"relative_velocity":{"kilometers_per_second":"14.6157341675","kilometers_per_hour":"52616.643002919","miles_per_hour":"32693.9357592304"},"miss_distance":{"astronomical":"0.1070525931","lunar":"41.6434587159","kilometers":"16014839.905736697","miles":"9951160.0760005386"},"orbiting_body":"Earth"},{"close_approach_date":"2042-01-04","close_approach_date_full":"2042-Jan-04 00:08","epoch_date_close_approach":2272406880000,"relative_velocity":{"kilometers_per_second":"30.14926689","kilometers_per_hour":"108537.360803978","miles_per_hour":"67440.8951062274"},"miss_distance":{"astronomical":"0.1112658659","lunar":"43.2824218351","kilometers":"16645136.542345633","miles":"10342808.2450224154"},"orbiting_body":"Venus"},{"close_approach_date":"2042-08-08","close_approach_date_full":"2042-Aug-08 21:09","epoch_date_close_approach":2291144940000,"relative_velocity":{"kilometers_per_second":"33.3039907871","kilometers_per_hour":"119894.3668336468","miles_per_hour":"74497.6969917179"},"miss_distance":{"astronomical":"0.4787006082","lunar":"186.2145365898","kilometers":"71612591.354424534","miles":"44498000.8679212092"},"orbiting_body":"Earth"},{"close_approach_date":"2045-08-27","close_approach_date_full":"2045-Aug-27 17:08","epoch_date_close_approach":2387466480000,"relative_velocity":{"kilometers_per_second":"14.7934942439","kilometers_per_hour":"53256.57927786","miles_per_hour":"33091.5672740681"},"miss_distance":{"astronomical":"0.1371397313","lunar":"53.3473554757","kilometers":"20515811.694852331","miles":"12747934.2576149278"},"orbiting_body":"Earth"},{"close_approach_date":"2046-06-24","close_approach_date_full":"2046-Jun-24 11:35","epoch_date_close_approach":2413452900000,"relative_velocity":{"kilometers_per_second":"27.1290078615","kilometers_per_hour":"97664.4283013597","miles_per_hour":"60684.8776853643"},"miss_distance":{"astronomical":"0.076774935","lunar":"29.865449715","kilometers":"11485366.74538845","miles":"7136675.96352261"},"orbiting_body":"Merc"},{"close_approach_date":"2046-07-28","close_approach_date_full":"2046-Jul-28 11:52","epoch_date_close_approach":2416391520000,"relative_velocity":{"kilometers_per_second":"23.1600788974","kilometers_per_hour":"83376.2840307527","miles_per_hour":"51806.7804856641"},"miss_distance":{"astronomical":"0.1968900856","lunar":"76.5902432984","kilometers":"29454337.429877672","miles":"18302076.6003569936"},"orbiting_body":"Earth"},{"close_approach_date":"2048-03-02","close_approach_date_full":"2048-Mar-02 22:03","epoch_date_close_approach":2466799380000,"relative_velocity":{"kilometers_per_second":"31.1272878357","kilometers_per_hour":"112058.2362085056","miles_per_hour":"69628.6301596684"},"miss_distance":{"astronomical":"0.0618477281","lunar":"24.0587662309","kilometers":"9252288.388099147","miles":"5749105.4148043486"},"orbiting_body":"Merc"},{"close_approach_date":"2048-10-09","close_approach_date_full":"2048-Oct-09 17:38","epoch_date_close_approach":2485877880000,"relative_velocity":{"kilometers_per_second":"28.5207832608","kilometers_per_hour":"102674.819738768","miles_per_hour":"63798.140076014"},"miss_distance":{"astronomical":"0.0841197486","lunar":"32.7225822054","kilometers":"12584135.215495482","miles":"7819419.0316303716"},"orbiting_body":"Venus"},{"close_approach_date":"2049-09-02","close_approach_date_full":"2049-Sep-02 11:47","epoch_date_close_approach":2514196020000,"relative_velocity":{"kilometers_per_second":"21.4771079427","kilometers_per_hour":"77317.5885936646","miles_per_hour":"48042.1427569912"},"miss_distance":{"astronomical":"0.2117602028","lunar":"82.3747188892","kilometers":"31678875.289648036","miles":"19684340.3299974568"},"orbiting_body":"Earth"},{"close_approach_date":"2049-11-10","close_approach_date_fu
[...]
